#flashcards-wrapper {
  width: 100%;
}

#flashcards {
  width: 300px;
  margin: 0 auto;
}

#flashcards .controls {
  width: 100%;
}

#flashcards .controls button {
  width: 72px;
  margin: 0;
}

#flashcards .card {
  background-color: white;
  font-size: 2em;
  height: 400px;
  width: 300px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  line-height: 2em;
}

#flashcards .card ol li {
  font-size: 0.5em;
  text-align: left;
}

#flashcards table {
  text-align: left;
  margin: auto;
}
