---
layout: default
title: Bible Rich | Nahum
image_path: /img/bible-highlights/books/nahum.png
image_alt: Nahum
audio_mp3_path: /audio/bible-highlights/nahum/book-simple.mp3
audio_wav_path: /audio/bible-highlights/nahum/book-simple.wav
---
<h1>Nahum - High Rise City, Nineveh</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p>“The burden of</p>
<p>Nineveh.</p>
<p>The book of the vision of</p>
<p>Nahum</p>
<p>the Elkoshite</p>
<p>. . .</p>
<p>affliction shall not</p>
<p>rise up</p>
<p>the second time.” 1:1, 9</p>
<p>You can think “high rise” and “rise up” are very similar in order to remember affliction not rising up the second time is in Nahum.</p>
<p>(the up and down lines of the high rise buildings of the city of Neneveh almost spell out Nahum with four of the letter, N-h-u-m, having up and down lines; and if you use a capital A for the A in Nahum it fits well in there, too)</p>
<p>(to remember there are 3 chapters in Nahum, the picture has 3 of the high rise buildings taller and skinnier than the others)</p>
{% include picture-page-footer.html %}
