---
layout: default
title: Bible Rich | Luke
image_path: /img/bible-highlights/books/luke.png
image_alt: Luke
audio_mp3_path: /audio/bible-highlights/luke/book-detailed.mp3
audio_wav_path: /audio/bible-highlights/luke/book-detailed.wav
next_page: /bible-highlights/john/
prev_page: /bible-highlights/mark/
---
<h1>Luke - L U K E Man</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p class='lead'>“And she brought forth her first born son, and wrapped him in swaddling clothes, and laid him in a manager.” 2:7, “for a spirit hath not flesh and bones, as ye see me have.” 24:39</p>
<p>Luke is the 3rd of the 4 gospels and portrays Jesus as a Man. From birth to life after death, Jesus still has a body of a man as Luke tells us. A man is used for the highlight for Mark made out of the letters L-u-k-e.</p>
<p>(the nose of the man makes the L in Luke, the bottom of the face makes the “u” in Luke, the body and legs makes the “k” in Luke, and the hand going out makes the “e” in Luke)</p>
<p>(to remember there are 24 chapters in Luke the nose in the L shape can be the left line of a 4 and the line going across as the 4 and the shoulder and leg of the man can be made into a 2 for 24 chapters in Luke)</p>
{% include picture-page-footer.html %}
