---
layout: default
title: Bible Rich | Matthew
image_path: /img/bible-highlights/books/matthew.png
image_alt: Matthew
audio_mp3_path: /audio/bible-highlights/matthew/book-detailed.mp3
audio_wav_path: /audio/bible-highlights/matthew/book-detailed.wav
next_page: /bible-highlights/mark/
prev_page: /bible-highlights/malachi/
---
<h1>Matthew - M A T T H E W Crown</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p class='lead'> “there came wise men from the east to Jerusalem, Saying, Where is he that is born King of the Jews?” 2:2</p>
<p>Matthew is the 1st of the 4 gospels and portrays Jesus as King, so a crown is used for the highlight of Matthew.</p>
<p>(the top of the crown spells out M-A-T-T-H-E-W for Matthew)</p>
<p>(to remember there are 28 chapters in Matthew the left line of the crown can be made into a 2 for the 2 in 28 chapters and there are 7 letters in the name Matthew at the top of the crown plus the 1 line drawn at the bottom to make the crown which is 7+1=8 for the 8 in 28 chapters)</p>
{% include picture-page-footer.html %}
