---
layout: default
title: Bible Rich | Zephaniah
image_path: /img/bible-highlights/books/zephaniah.png
image_alt: Zephaniah
audio_mp3_path: /audio/bible-highlights/zephaniah/book-simple.mp3
audio_wav_path: /audio/bible-highlights/zephaniah/book-simple.wav
next_page: /bible-highlights/haggai/
prev_page: /bible-highlights/habakkuk/
---
<h1>Zephaniah - Man Singing &amp; Leaping For Joy</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p class='lead'>“The word of the LORD which came unto Zephaniah the son of Cushi” 1:1, “He will rejoice over thee with joy; . . . He will joy over thee with singing.” 3:17</p>
<p>(the man can make a Z for Zephaniah with the top line of his arms stretched out behind him for the top of the Z, the left line of his body for the line angling down, and the line at the bottom of his robe for the line at the bottom of the Z; the first music note can be made into a “p” for the “p” in Zephaniah to remember this is the book name with the Zep in it as opposed to the book of Zechariah with the Zec in it’s name)</p>
<p>(you can think of the music note in the “p” shape also to stand for “playing music” for Jesus playing music for us)</p>
<p>(to remember Zephaniah has 3 chapters, 3 little music note sets are drawn)</p>
{% include picture-page-footer.html %}
