---
layout: default
title: Bible Rich | Colossians
image_path: /img/bible-highlights/books/colossians.png
image_alt: Colossians
audio_mp3_path: /audio/bible-highlights/colossians/book-detailed.mp3
audio_wav_path: /audio/bible-highlights/colossians/book-detailed.wav
next_page: /bible-highlights/1-thessalonians/
prev_page: /bible-highlights/philippians/
---
<h1>Colossians - Angel &amp; Land</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p class='lead'>“To the saints and faithful brethren in Christ which are at Colosse” 1:2, “Let no man beguile you of your reward in . . . worshipping of angels” 2:18</p>
<p>Paul wrote the Colossians in response to the gnostic teachings that angelic powers rule the cosmos and that various ritual practices were required of Christians, so an angel is used as the highlight for Colossians.</p>
<p>Colossians is the 7th of the 9 books written by Paul to a group of people in a place, Colosse, with the book so named, so land is drawn under the angel.</p>
<p>(the curved right side of the angel along with the curved top part of the angel’s right wing can be made into a C for Colossians)</p>
<p>(to remember there are 4 chapters in Colossians the right side line of the left arm going down and across can make the line of the left side and line going across of a 4 and the curved right side line of the angel can make the line going down on the right side of a 4 for 4 chapters in Colossians)</p>
{% include picture-page-footer.html %}
