---
layout: default
title: Bible Rich | Lamentations
image_path: /img/bible-highlights/books/lamentations.png
image_alt: Lamentations
audio_mp3_path: /audio/bible-highlights/lamentations/book-detailed.mp3
audio_wav_path: /audio/bible-highlights/lamentations/book-detailed.wav
prev_page: /bible-highlights/jeremiah/
next_page: /bible-highlights/ezekiel/
---
<h1>Lamentations - Eye With Tears</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p class='lead'>“Mine eye runneth down with rivers of water for the destruction of the daughter of my people.” 3:48</p>
<p>(the tear drops are made in the shape of an L for Lamentations)</p>
<p>(there are 5 drops drawn to remember there are 5 chapters in Lamentations)</p>
{% include picture-page-footer.html %}
