---
layout: default
title: Bible Rich | Micah
image_path: /img/bible-highlights/books/micah.png
image_alt: Micah
audio_mp3_path: /audio/bible-highlights/micah/book-detailed.mp3
audio_wav_path: /audio/bible-highlights/micah/book-detailed.wav
next_page: /bible-highlights/nahum/
prev_page: /bible-highlights/jonah/
---
<h1>Micah - House With Star In Bethlehem</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p class='lead'>“The word of the LORD that came to Micah the Morasthite” 1:1, “But thou, Bethlehem Ephratah . . . out of thee shall he come . . . that is to be ruler in Israel; whose goings forth have been from of old, from everlasting.” 5:2</p>
<p>(the left and right sides of the house can make the left and right side of an M for Micah  then if you connect the top of the lines to the top of the door it will make the point for the middle point of the M for Micah and for Matthew which tells about the star the wise men saw over the house in Bethlehem)</p>
<p>(also, you can use the left side line of the house for the bottom of the i in Micah and the star can make the dot for the i in Micah)</p>
<p>(the top of the roof makes a leaning over 7 for 7 chapters in Micah, you can think of this perfect number 7 as the angel and God watching over the house where Jesus lived in Bethlehem)</p>
{% include picture-page-footer.html %}
