---
layout: default
title: Bible Rich | Exodus
image_path: /img/bible-highlights/books/exodus.png
image_alt: Exodus
audio_mp3_path: /audio/bible-highlights/exodus/book-detailed.mp3
audio_wav_path: /audio/bible-highlights/exodus/book-detailed.wav
prev_page: /bible-highlights/genesis/
next_page: /bible-highlights/leviticus/
next_chapter: /bible-highlights/exodus/chapter-20.html
---
<h1>Exodus - Red Sea Divided  Waves</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p class='lead'>“Moses stretched out his hand over the sea . . . and the waters were divided.” 14:21</p>
<p>(the two lines of the waves can make the top and bottom lines of an E for Exodus and the bottom of the sea line would be the left side of the E for Exodus, and then imagine the people going through the Red Sea to make the middle line of the E for Exodus)</p>
<p>(the two lines of the waves can also make the two sides of a 4 for 40 chapters in Exodus)</p>
<p>(also the X in Exodus you can think of as a sideways 4, and the O in Exodus for the 0 in the 40 for 40 chapters in Exodus)</p>
{% include picture-page-footer.html %}
