---
layout: default
title: Bible Rich | Joel
image_path: /img/bible-highlights/books/joel.png
image_alt: Joel
audio_mp3_path: /audio/bible-highlights/joel/book-detailed.mp3
audio_wav_path: /audio/bible-highlights/joel/book-detailed.wav
next_page: /bible-highlights/amos/
prev_page: /bible-highlights/hosea/
---
<h1>Joel - Dark Sun, Moon, &amp; Stars</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p class='lead'>“The word of the LORD that came to Joel the son of Pethuel” 1:1, “The sun and the moon shall be dark and the stars shall withdraw their shining . . . The sun shall be turned into darkness, and the moon into blood” 2:10 &amp; 31, “The sun and the moon shall be darkened , and the stars shall withdraw their shining” 3:15</p>
<p>(the moon can be made into a J for Joel, also when you look at the sun, moon, and star it almost looks like the o-e-l of Joel)</p>
<p>(to help you remember there are 3 chapter in Joel, 3 things are drawn 1. the sun, 2. the moon, and 3. the stars, and they are mentioned 3 times in Joel as being darkened with 1 mentioning the moon being darkened by turning into blood, so it has been drawn with a little bit of red on it)</p>
<p>(Joel is the 2nd book of the O’s and has the circle O’s of the sun, moon, and inside &amp; outside of the star)</p>
{% include picture-page-footer.html %}
