---
layout: default
title: Bible Rich | 1 Kings
image_path: /img/bible-highlights/books/1-kings.png
image_alt: 1 Kings
audio_mp3_path: /audio/bible-highlights/1-kings/book-detailed.mp3
audio_wav_path: /audio/bible-highlights/1-kings/book-detailed.wav
next_page: /bible-highlights/2-kings/
prev_page: /bible-highlights/2-samuel/
---
<h1>1 Kings - 2 Jewel Crown</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p class='lead'>“And Zadok the priest. . . anointed Solomon. . . and all the people said, God save king Solomon.” 1:39</p>
<p>(a “K” for kings can be drawn by making the left side of the “K” as the bottom of the crown and the 2 lines going out as the points of the top of the crown)</p>
<p>(1 Kings is about the kings from Solomon to Ahab, and the left side line of the crown  can be made into a S for Solomon and the right side line of the crown can be made into an A for Ahab)</p>
<p>(to remember you are in the book of 1 Kings, 1 crown is drawn)</p>
<p>(since the first of 1 Kings, Adonijah tries to be king, you can make an A for Adonijah out of the lines of the 1st point on the crown, which makes 1st kings with a lot of A’s so it is easy to remember)</p>
<p>(to remember there are 22 chapters in 1 Kings, the left side of the crown is drawn in the shape of a 2 and the right side is drawn in the shape of a backwards 2 for 22 chapters)</p>
<p>(the 2 jewels also represent the 22 chapters)</p>
<p>(the 2 jewels change depending on what color the major king or kings are of that chapter)</p>
{% include picture-page-footer.html %}
