---
layout: default
title: Bible Rich | Nehemiah
image_path: /img/bible-highlights/books/nehemiah.png
image_alt: Nehemiah
audio_mp3_path: /audio/bible-highlights/nehemiah/book-detailed.mp3
audio_wav_path: /audio/bible-highlights/nehemiah/book-detailed.wav
next_page: /bible-highlights/esther/
prev_page: /bible-highlights/ezra/
---
<h1>Nehemiah - Wall</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p class='lead'>“The words of Nehemiah the son of Hachaliah . . . The wall of Jerusalem also is broken down” 1:1, 3,  “They that builded on the wall” 4:17</p>
<p>(the top lines of the walls are made curved for two reasons, 1. to make the top of the letter “N” for Nehemiah and to make a 3 for the 13 chapters in Nehemiah with the bottom line of the wall being the 1)</p>
{% include picture-page-footer.html %}
