---
layout: default
title: Bible Rich | Ruth
image_path: /img/bible-highlights/books/ruth.png
image_alt: Ruth
audio_mp3_path: /audio/bible-highlights/ruth/book-simple.mp3
audio_wav_path: /audio/bible-highlights/ruth/book-simple.wav
---
<h1>Ruth - Lady Ruth</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p>“And</p>
<p>Ruth</p>
<p>said, Entreat me not to leave thee. . . for whither thou goest, I will go. . . thy people shall be my people, and thy God my God.” 1:16</p>
<p>(the lines on the top of Ruth’s headdress make an R for Ruth)</p>
<p>(you can think of either the 2 lines going down and the one going across at the top of Ruth’s headdress or the two lines going down of her back and stomach and the line going across her waist as the 4 in 4 chapters in Ruth)</p>
{% include picture-page-footer.html %}
