---
layout: default
title: Bible Rich | Numbers
image_path: /img/bible-highlights/books/numbers.png
image_alt: Numbers
audio_mp3_path: /audio/bible-highlights/numbers/book-detailed.mp3
audio_wav_path: /audio/bible-highlights/numbers/book-detailed.wav
next_page: /bible-highlights/deuteronomy/
prev_page: /bible-highlights/leviticus/
---
<h1>Numbers - Number Sign</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p class='lead'>“So he numbered them in the wilderness of Sinai” 1:19.</p>
<p>Numbers is also about the number of adventures of this large number of people that Moses led for a large number of years.</p>
<p>You can think of the number sign also as bars of a prison, for the people no going into the promise land and were punished (like in prison) to wonder in the wilderness for 40 years. This begins in chapter 14.</p>
<p>(the 2 lines down in the number sign you can think of as the two sides of an N for Numbers)</p>
<p>(the number sign makes 3 squares on the top row for the 3 in 36 chapters and the middle and bottom row make 6 squares for 36 chapters in Numbers)</p>
{% include picture-page-footer.html %}
