---
layout: default
title: Bible Rich | Job
image_path: /img/bible-highlights/books/job.png
image_alt: Job
audio_mp3_path: /audio/bible-highlights/job/book-simple.mp3
audio_wav_path: /audio/bible-highlights/job/book-simple.wav
next_page: /bible-highlights/psalms/
prev_page: /bible-highlights/esther/
---
<h1>Job - Orion Constellation</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p class='lead'>“Then the LORD answered Job out of the whirlwind, and said . . . Canst thou bind the sweet influences of Pleiades, or loose the bands of Orion?” 38:1, 31</p>
<p>You can think of this Orion constellation, with the stars and lines drawn black, also as a kinda of imaginary picture of Job after the sore boils have eaten away his flesh,  he gets all black from sitting in the ashes, and fighting by himself for the Lord - against his wife and his friends.</p>
<p>(to remember Orion is in Job, you can think the name Job has 3 letters in it and the belt has 3 stars, also  both names have “O”s in them)</p>
<p>(the sickle that Job is holding can be made into a J for Job)</p>
<p>(to remember there are 42 chapters in Job, think the 4 and 2 are on each side of 3 on a number line)</p>
<p>(another way is to think of the 42 chapters in Job is that there are 4 major star points of Orion, the shoulders and the feet, which also make a shape of a 4, and for the 2 in 42 chapters in Job think of the 2 arms going out holding 1. the sickle - for reaping when Jesus comes, and 2. the trumpet for blowing when Jesus comes - see picture below)</p>
<a href='/img/bible-highlights/books/job-orion.png'>
  <img src='/img/bible-highlights/books/job-orion.png' class='img-polaroid' alt='orion'></img>
</a>
{% include picture-page-footer.html %}
