---
layout: default
title: Bible Rich | Song of Solomon
image_path: /img/bible-highlights/books/song-of-solomon.png
image_alt: Song of Solomon
audio_mp3_path: /audio/bible-highlights/song-of-solomon/book-simple.mp3
audio_wav_path: /audio/bible-highlights/song-of-solomon/book-simple.wav
---
<h1>Song of Solomon - Treble Clef With Lily And Rose</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p>“The s</p>
<p>ong</p>
<p>of</p>
<p>songs,</p>
<p>which is</p>
<p>Solomon</p>
<p>’s” 1:1, “I am the</p>
<p>rose</p>
<p>of Sharon, and the</p>
<p>lily</p>
<p>of the valleys.” 2:1</p>
<p>To remember Song of Solomon is in a garden, think of the flowers drawn on the treble clef.</p>
<p>(the treble clef is used because it makes a backwards S for Solomon &amp; Song)</p>
<p>(to remember there are 8 chapters in Song of Solomon, the treble clef makes the shape of an 8)</p>
{% include picture-page-footer.html %}
