---
layout: default
title: Bible Rich | Malachi
image_path: /img/bible-highlights/books/malachi.png
image_alt: Malachi
audio_mp3_path: /audio/bible-highlights/malachi/book-simple.mp3
audio_wav_path: /audio/bible-highlights/malachi/book-simple.wav
next_page: /bible-highlights/matthew/
prev_page: /bible-highlights/zechariah/
---
<h1>Malachi - Big Jewel</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p class='lead'>“The burden of the word of the LORD to Israel by Malachi . . . he shall sit as a refiner and purifier of silver” 1:1, “Wherein have we robbed thee? In tithes and offerings . . . open you the windows of heaven, and pour you out a blessing, that there shall not be room enough to receive it . . .  And they shall be mine, saith the LORD of hosts, in that day when I make up my jewels” 3:3, 8, 10, 17</p>
<p>Some of Malachi’s familiar verses are about riches, so a large jewel is used for the highlight for Malachi.</p>
<p>(an M for Malachi can be drawn with the bottom left of the large jewel and an A for the A in Malachi can be drawn in the bottom right bottom side of the large jewel)</p>
<p>(there are 2 ways to remember Malachi has 4 chapters 1. a 4 can be drawn using the left side of the large jewel, the middle line of the large jewel and the third to the right bottom of the large jewel line, and 2. the jewel has 4 section for the 4 chapters in Malachi)</p>
{% include picture-page-footer.html %}
