---
layout: default
title: Bible Rich | Leviticus
image_path: /img/bible-highlights/books/leviticus.png
image_alt: Leviticus
audio_mp3_path: /audio/bible-highlights/leviticus/book-simple.mp3
audio_wav_path: /audio/bible-highlights/leviticus/book-simple.wav
next_page: /bible-highlights/numbers/
prev_page: /bible-highlights/exodus/
---
<h1>Leviticus - Wilderness  Sanctuary</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p class='lead'>“This is the sum of the tabernacle . . . as it was counted, according to the commandment of Moses, for the service of the Levites.” Exodus 38:21</p>
<p>The Levites were to perform the ceremonies and teach the law in the sanctuary so it is the highlight of Leviticus.</p>
<p>(the left side line and the bottom line of the sanctuary makes an L for Leviticus)</p>
<p>(the 2 pieces of furniture in the court yard can be thought of for the 2 in 27 chapters of Leviticus and the top and right sides of the court make the shape of a 7 in 27 chapters in Leviticus)</p>
{% include picture-page-footer.html %}
