---
layout: default
title: Bible Rich | Deuteronomy
image_path: /img/bible-highlights/books/deuteronomy.png
image_alt: Deuteronomy
audio_mp3_path: /audio/bible-highlights/deuteronomy/book-detailed.mp3
audio_wav_path: /audio/bible-highlights/deuteronomy/book-detailed.wav
next_page: /bible-highlights/joshua/
prev_page: /bible-highlights/numbers/
---
<h1>Deuteronomy - Open Book</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p class='lead'>“Moses wrote this law. . . at the end of every seven years. . . read this law before all Israel. . . Take this book of the law and put it in the side of the ark” 31:9, 11, 26</p>
<p>Deuteronomy is the book that contains the book of the law, from chapter 12 to 26, so an open book is the highlight for Deuteronomy.</p>
<p>(a sideways D for Deuteronomy can be made on the open book using the bottom left line for the left side of the D, the two lines coming down on the left and center can be the top and bottom of the D and the top curve of the open book can be the right curve of the D for Deuteronomy, )</p>
<p>(the top 2 curves of the open book of the law makes a 3 for 34 chapters and the sides of the book of the law make the two sides of a 4 for 34 chapters in Deuteronomy)</p>
{% include picture-page-footer.html %}
