---
layout: default
title: Bible Rich | 1 Corinthians
image_path: /img/bible-highlights/books/1-corinthians.png
image_alt: 1 Corinthians
audio_mp3_path: /audio/bible-highlights/1-corinthians/book-simple.mp3
audio_wav_path: /audio/bible-highlights/1-corinthians/book-simple.wav
---
<h1>1 Corinthians - 1 Palm Tree On Peninsula</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p> “ Unto the church of God which is at</p>
<p>Corinth”</p>
<p>1:2, “Eye hath not seen, nor ear heard, neither have entered into the heart of man,</p>
<p>the things which God hat prepared</p>
<p>for them that love him.” 2:9</p>
<p>Since the things that God has prepared for them that love him is paradise, a paradise scene of a tropical island with palm trees and the ocean is used for the highlight of 1 &amp; 2 Corinthians.</p>
<p>The city Corinth is on a peninsula, almost an island, in the Mediterranean Sea. Palm trees can be associated with islands and seas, so these are also used to represent 1 &amp; 2 Corinthians.</p>
<p>Corinth is actually located at about the bottom of the palm tree. You can think of the palm tree as pointing to Corinth.</p>
<p>1 Corinthians is the 2nd of the 9 books written by Paul to a group of people in a place, Corinth, with the book so named, so land is drawn.</p>
<p>(the curve of the land line on the left can be made into a C for Corinthians)</p>
<p>(to remember there is 16 chapters in 1 Corinthians the tree can be made into a 1 for the 1 in 16 chapters and a 6 can be made using the line going around the peninsula for the 6 in 16 chapters in 1 Corinthians)</p>
{% include picture-page-footer.html %}
