<div class='book-selector'>
  <select class='books'>
    <optgroup label='Old Testament'>
      <option>Genesis*</option>
      <option>Exodus*</option>
      <option>Leviticus</option>
      <option>Numbers</option>
      <option>Deuteronomy</option>
      <option>Joshua</option>
      <option>Judges</option>
      <option>Ruth</option>
      <option>1 Samuel</option>
      <option>2 Samuel</option>
      <option>1 Kings</option>
      <option>2 Kings</option>
      <option>1 Chronicles</option>
      <option>2 Chronicles</option>
      <option>Ezra</option>
      <option>Nehemiah</option>
      <option>Esther</option>
      <option>Job</option>
      <option>Psalms</option>
      <option>Proverbs</option>
      <option>Ecclesiastes</option>
      <option>Song of Solomon</option>
      <option>Isaiah</option>
      <option>Jeremiah</option>
      <option>Lamentations</option>
      <option>Ezekiel</option>
      <option>Daniel*</option>
      <option>Hosea</option>
      <option>Joel</option>
      <option>Amos</option>
      <option>Obadiah</option>
      <option>Jonah</option>
      <option>Micah</option>
      <option>Nahum</option>
      <option>Habakkuk</option>
      <option>Zephaniah</option>
      <option>Haggai</option>
      <option>Zechariah</option>
      <option>Malachi</option>
    </optgroup>
    <optgroup label='New Testament'>
      <option>Matthew</option>
      <option>Mark</option>
      <option>Luke</option>
      <option>John</option>
      <option>Acts</option>
      <option>Romans</option>
      <option>1 Corinthians</option>
      <option>2 Corinthians</option>
      <option>Galatians</option>
      <option>Ephesians</option>
      <option>Philippians</option>
      <option>Colossians</option>
      <option>1 Thessalonians</option>
      <option>2 Thessalonians</option>
      <option>1 Timothy</option>
      <option>2 Timothy</option>
      <option>Titus</option>
      <option>Philemon</option>
      <option>Hebrews</option>
      <option>James</option>
      <option>1 Peter</option>
      <option>2 Peter</option>
      <option>1 John</option>
      <option>2 John</option>
      <option>3 John</option>
      <option>Jude</option>
      <option>Revelation</option>
    </optgroup>
  </select>
  <select class='chapters'>
  </select>
  <button class='btn'>Go <i class='icon-play'></i></button>
  <p>* - Books with an asterisk contain more information than just the book highlight.</p>
</div>
