<div class="navbar">
  <div class="navbar-inner">
    <div class="container">

      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <!-- Be sure to leave the brand out there if you want it shown -->
      <a class="brand" href="/"><img src='/img/logo.png' alt='BibleRICH'></img></a>

      <!-- Everything you want hidden at 940px or less, place within here -->
      <div class="nav-collapse collapse">
        <!-- .nav, .navbar-search, .navbar-form, etc -->
        <ul class="nav logo-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Pictures
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/bible-highlights/genesis/chapter-1.html">The Days of Creation</a></li>
              <li><a href="/bible-highlights/exodus/chapter-20.html">The Ten Commandments</a></li>
              <li><a href="#">What does the Bible say about...</a></li>
              <li><a href="/bible-highlights/">Bible highlights</a></li>
              <li><a href="#">Prophecies of Jesus</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Review
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/bible-highlights/review/genesis/chapter-1.html">The Days of Creation</a></li>
              <li><a href="/bible-highlights/review/exodus/chapter-20.html">The Ten Commandments</a></li>
              <li><a href="#">What does the Bible say about...</a></li>
              <li><a href="/bible-highlights/review/">Bible highlights</a></li>
              <li><a href="#">Prophecies of Jesus</a></li>
            </ul>
          </li>
          <li><a href='/about-us.html'>About Us</a></li>
          <li><a href='/testimonies.html'>Testimonies</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

