---
layout: default
title: Bible Rich | Proverbs
image_path: /img/bible-highlights/books/proverbs.png
image_alt: Proverbs
audio_mp3_path: /audio/bible-highlights/proverbs/book-simple.mp3
audio_wav_path: /audio/bible-highlights/proverbs/book-simple.wav
next_page: /bible-highlights/ecclesiastes/
prev_page: /bible-highlights/psalms/
---
<h1>Proverbs - Diploma Tied With Bow</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p>“The proverbs of Solomon” 1:1, “Wisdom is the principal thing; therefore get wisdom: and with all thy getting get understanding.” 4:7</p>
<p>(the left circle of the scroll along with the bottom line of the scroll makes a P for Proverbs)</p>
<p>(to remember there are 31 chapters in proverbs, the bow at the top is made into a 3 and bottom of the bow is made into straight lines for the 1)</p>
{% include picture-page-footer.html %}
