---
layout: default
title: Bible Rich | Philemon
image_path: /img/bible-highlights/books/philemon.png
image_alt: Philemon
audio_mp3_path: /audio/bible-highlights/philemon/book-detailed.mp3
audio_wav_path: /audio/bible-highlights/philemon/book-detailed.wav
next_page: /bible-highlights/hebrews/
prev_page: /bible-highlights/titus/
---
<h1>Philemon - Man Going In House</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p class='lead'>“Paul the aged . . . have sent again (Onesimus) . . . receive him . . . Not now as a servant, but above a servant, a brother beloved”  1:9, 10, 12, 16</p>
<p>Since Paul asked Philemon to receive Onesimus back as more than servant, as a brother, a man going in a house is the highlight for Philemon.</p>
<p>The name Philemon says “fill a man,” so you can think also that if Philemon lets Onesimus back in “a man” will “fill” the house or that it will make Onesimus happy and “fill a man’s” heart.</p>
<p>(the man’s body can be the left line of a P for Philemon and the top line of his head and his curved right arm can be made into the circle top part of the P for Philemon and the next letter in Philemon, “h” can be made by drawing a line on the left side of the house for the left side of a lower case “h” and the top and right side line of the door can make the right side of the “h” in Philemon)</p>
<p>(to remember there is 1 chapter in Philemon, 1 man is drawn going in the house)</p>
{% include picture-page-footer.html %}
