---
layout: default
title: Bible Rich | 1 Chronicles
image_path: /img/bible-highlights/books/1-chronicles.png
image_alt: 1 Chronicles
audio_mp3_path: /audio/bible-highlights/1-chronicles/book-detailed.mp3
audio_wav_path: /audio/bible-highlights/1-chronicles/book-detailed.wav
next_page: /bible-highlights/2-chronicles/
prev_page: /bible-highlights/2-kings/
---
<h1>1 Chronicles - 1 Roll Scroll With 29</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p class='lead'>“And the rest of the acts of Hezekiah . . . are they not written in the book of the chronicles of the kings of Judah?” 2 Kings 20:20</p>
<p>(1 Chronicles is about the generations from Adam to king David, to help you remember this the 2 on the left can be made into a cursive A for Adam and the top of the 9 can be made into a D for David)</p>
<p>(1 roll scroll is drawn so you know you are in 1 Chronicles)</p>
<p>(to remember there are 29 chapters in 1 Chronicles, the ends of the scroll are made into a 2 and a 9, and the left side of the 9 can be thought of as the shape of a “C” for Chronicles)</p>
{% include picture-page-footer.html %}
