---
layout: default
title: Bible Rich | 2 Thessalonians
image_path: /img/bible-highlights/books/2-thessalonians.png
image_alt: 2 Thessalonians
audio_mp3_path: /audio/bible-highlights/2-thessalonians/book-detailed.mp3
audio_wav_path: /audio/bible-highlights/2-thessalonians/book-detailed.wav
next_page: /bible-highlights/titus/
prev_page: /bible-highlights/1-thessalonians/
---
<h1>2 Thessalonians - Lady  Thessalonica On 3 D Tower By Sea</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p class='lead'>“unto the church of the Thessalonians” 1:1, “Comfort your hearts, and stablish you in every good word and work” 2:17, “But the Lord is faithful, who shall stablish you, and keep you from evil.” 3:3</p>
<p>(like above) Thessalonica, a city on the northern coast of the Mediterranean Sea, was founded in 315 B.C. and named for a sister of Alexander the Great. One of the principal landmarks is the White Tower on the waterfront, therefore a white tower with a lady on top to represent Alexander the Great’s sister, Thessalonica, drawn on the north side of the sea, are the highlights for 1 &amp; 2 Thessalonians.</p>
<p>Since we think of a tower as strong, sturdy, established and safe, you can think that the word “stablish” is used 2 times in 2 Thessalonians.</p>
<p>Since Paul instructed the Thessalonians in 1 &amp; 2 Thessalonians on the second coming of Jesus, when you think of the tall tower, you can think of Jesus coming down by them, up in the sky.</p>
<p>2 Thessalonians is the 9th of the 9 books written by Paul to a group of people in a place, Thessalonica, with the book so named, so land is drawn.</p>
<p>(the middle of the tower can be made into the line going down of a T for Thessalonians and the top line of the tower that angles down &amp; then back up can be made into the line going across of a T for Thessalonians; the “h” in Thessalonians can be made with the right side line of the tower; so that you can think of these 2 tall letters Th for the tall tower of Tlhessalonian)</p>
<p>(to remember there are 3 chapters in 2 Thessalonians the tower has been drawn 3 dimensional and there are 3 windows on the left side and 3 windows on the right side if the tower for 3 chapters in 2 Thessalonians)</p>
{% include picture-page-footer.html %}
