---
layout: default
title: Bible Rich | Romans
image_path: /img/bible-highlights/books/romans.png
image_alt: Romans
audio_mp3_path: /audio/bible-highlights/romans/book-detailed.mp3
audio_wav_path: /audio/bible-highlights/romans/book-detailed.wav
next_page: /bible-highlights/1-corinthians/
prev_page: /bible-highlights/acts/
---
<h1>Romans - Roman Column On Land</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p class='lead'>“To all that be in Rome” 1:7, “I lay in Sion a stumblingstone and a rock of offence” 9:33, “Let their table be made a snare and a trap, and a stumblingblock” 11:9, “but judge this rather, that no man put a stumblingblock or an occasion to fall in his brother’s way. . . It is good neither to eat flesh, nor to drink wine, nor any thing whereby they brother stumbleth” 14:13, 21</p>
<p>A familiar Roman building structure is a Roman column so it is used for the highlight of Romans.</p>
<p>Since the Roman column is made out of some kind of stone or rock and can also be thought of as a block and in a block shape that you could stumble or stub your toe on, you can remember that Romans is the book that uses the term stumblingstone/stumblingblock/stumbleth the most in the New Testament.</p>
<p>Romans is the 1st of the 9 books written by Paul to a group of people in a place, this one Rome, with the book so named. Therefore, each of these 9 book pictures are drawn with land under them.</p>
<p>Romans was the longest of Paul’s letters so it was placed at the first of his writings.</p>
<p>(the left side of the Roman column can be made into the left side of an R for Romans, the top of the column into the top of the circle of an R, and the right bottom half as the right line going down of an R for Romans)</p>
<p>(to remember there are 16 chapters in Romans the left side of the Roman column can make a 1 for 16 chapters and the right top circle of the Roman column can make the bottom of a 6 for 16 chapters in Romans)</p>
{% include picture-page-footer.html %}
