---
layout: default
title: Bible Rich | Isaiah
image_path: /img/bible-highlights/books/isaiah.png
image_alt: Isaiah
audio_mp3_path: /audio/bible-highlights/isaiah/book-simple.mp3
audio_wav_path: /audio/bible-highlights/isaiah/book-simple.wav
prev_page: /bible-highlights/song-of-solomon/
next_page: /bible-highlights/jeremiah/
---
<h1>Isaiah - Angel With Wings</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p class='lead'>“The vision of Isaiah . . . 1:1, “Above it stood the seraphims: each one had six wings; with twain he covered his face, and with twain he covered his feet, and with twain he did fly.” 6:2</p>
<p>(either of the two long side lines of the angel can be made into the long I for Isaiah)</p>
<p>(you can think that the Isaiah angel is covering his eyes for the I sound in Isaiah)</p>
<p>(to remember there are 66 chapter in Isaiah,  6 points of the feathers are drawn on the bottom of the angel with 6 wings, which is in chapter 6 of Isaiah)</p>
{% include picture-page-footer.html %}
