---
layout: default
title: Bible Rich | Isaiah
image_path: /img/bible-highlights/books/isaiah.png
image_alt: Isaiah
audio_mp3_path: /audio/bible-highlights/isaiah/book-simple.mp3
audio_wav_path: /audio/bible-highlights/isaiah/book-simple.wav
---
<h1>Isaiah - Angel With Wings</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p>“The vision of</p>
<p>Isaiah</p>
<p>. . . 1:1, “Above it stood the</p>
<p>seraphims</p>
<p>: each one had</p>
<p>six wings</p>
<p>; with</p>
<p>twain he covered his face</p>
<p>, and with</p>
<p>twain he covered his feet</p>
<p>, and with</p>
<p>twain he did fly.</p>
<p>” 6:2</p>
<p>(either of the two long side lines of the angel can be made into the long I for Isaiah)</p>
<p>(you can think that the Isaiah angel is covering his eyes for the I sound in Isaiah)</p>
<p>(to remember there are 66 chapter in Isaiah,  6 points of the feathers are drawn on the bottom of the angel with 6 wings, which is in chapter 6 of Isaiah)</p>
{% include picture-page-footer.html %}
