---
layout: default
title: Bible Rich | Jonah
image_path: /img/bible-highlights/books/jonah.png
image_alt: Jonah
audio_mp3_path: /audio/bible-highlights/jonah/book-simple.mp3
audio_wav_path: /audio/bible-highlights/jonah/book-simple.wav
---
<h1>Jonah - Fish</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p>“Now the LORD had prepared a</p>
<p>great fish</p>
<p>to swallow up J</p>
<p>onah.</p>
<p>And Jonah was in the belly of the f</p>
<p>ish</p>
<p>three days and three nights.” 1:17</p>
<p>(the top of the tail line and the bottom of the body can be made into a J for Jonah, and you can think of the J for Jonah also as a hook to catch a fish)</p>
<p>(to remember there is 4 chapters in Jonah, where the body and tail of the fish make an x can be made into a 4 for 4 chapters in Jonah)</p>
<p>(Jonah is the 5th and last book of the O’s and has the circle O in the body of the fish)</p>
{% include picture-page-footer.html %}
