---
layout: default
title: Bible Rich | 2 Peter
image_path: /img/bible-highlights/books/2-peter.png
image_alt: 2 Peter
audio_mp3_path: /audio/bible-highlights/2-peter/book-simple.mp3
audio_wav_path: /audio/bible-highlights/2-peter/book-simple.wav
---
<h1>2 Peter - 2 Stones</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p>”Simon, whom he also named</p>
<p>Peter</p>
<p>” Luke 6:14</p>
<p>Since Jesus renamed Simon to Peter, which means a stone, 2 dark green stones are used for the highlight for 2 Peter.</p>
<p>(the circle of the stone on the left can make the top circle of a P for Peter and the circle of the stone on the right can be made into the circle of a lower case “e” for the “e’s” in Peter)</p>
<p>(to remember there are 3 chapters in 2 Peter the curved tops of the stones can make a sideways 3 for 3 chapters in 2 Peter)</p>
{% include picture-page-footer.html %}
