---
layout: default
title: Bible Rich | 1 Samuel
image_path: /img/bible-highlights/books/1-samuel.png
image_alt: 1 Samuel
audio_mp3_path: /audio/bible-highlights/1-samuel/book-simple.mp3
audio_wav_path: /audio/bible-highlights/1-samuel/book-simple.wav
---
<h1>1 Samuel - Scepter</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p>“now make us a</p>
<p>king</p>
<p>to judge us like all the nations” 8:5, “and Saul the son of Kish was taken  . . . And</p>
<p>Samuel</p>
<p>said to all the people, See ye him whom the LORD hath chosen, that there is none like him among all the people? And all the people shouted, and said, God save the</p>
<p>king</p>
<p>.” 10:21, 24</p>
<p>The first part of 1 Samuel is about Samuel and the last part of 1 Samuel is about Saul being king, so you can think the names - Samuel and Saul - both begin with an S and end with an “l” and 1 Samuel begins with a S and ends with an “l.” You can even think of the number 1 in 1 Samuel as an “l” telling you it is about Samuel and Saul.</p>
<p>The scepter to represent a king in the shape of a 1 is used to help you remember the “l” in Saul and Samuel, and that there are 31 chapters in 1st Samuel, and it is slate blue for Saul who is the king in this book being from the tribe of Benjamin.</p>
<p>The Samuel, Saul, septre, and slate blue begin with an S for Samuel.</p>
<p>(the septre can be made into a long S for Samuel, Saul, septre, and slate blue with the top curve around the ball at the top and making a curve at the bottom. The septre can be made into an “l” for the “l” in Samuel, Saul and slate blue)</p>
<p>(to remember there are 31 chapters,  a 3 can be thought of in front of the septre made into a 1 and   you can think there are 3 - 1’s  in 1 Samuel in the beginning, middle, and end :</p>
<p>1</p>
<p>Samu</p>
<p>el in</p>
<p>the beginning, the people ask for and get their</p>
<p>1</p>
<p>st king in the middle, and it has 3</p>
<p>1</p>
<p>chapters in the end)</p>
<p>(also for 31 chapters, Saul’s 3 sons and he himself for the 1, die in chapter 31)</p>
{% include picture-page-footer.html %}
