---
layout: default
title: Bible Rich | 2 John
image_path: /img/bible-highlights/books/2-john.png
image_alt: 2 John
audio_mp3_path: /audio/bible-highlights/2-john/book-simple.mp3
audio_wav_path: /audio/bible-highlights/2-john/book-simple.wav
next_page: /bible-highlights/3-john/
prev_page: /bible-highlights/1-john/
---
<h1>2 John - 2 Curved Hearts</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p class='lead'>”And this is love, that we walk after his commandments.” 1:6</p>
<p>Since John is the beloved disciple and John speaks about love so much in his writings, 2 curved hearts with eyes, arms and legs are used as the highlight for 2 John.</p>
<p>(the curved left or right side of the hearts can be made into upside down J’s for John)</p>
<p>(there are two ways to remember there is 1 chapter in 2 John - 1. The arms of the hearts have arms going out that can be connected to make 1’s and look like they are holding 1’s for 1 chapter in 2 John, and 2. 2 John and 3 John have the numbers 2 and 3, if you add them together 2+3=5, they are so loving they go together and share their numbers with 1 John who only has 1 number with his name and 1 John shares his number with 2 John and 3 John and they get a 1 for 1 chapter in 2 John and 1 chapter in 3 John)</p>
{% include picture-page-footer.html %}
