---
layout: default
title: Bible Rich | Acts
image_path: /img/bible-highlights/books/acts.png
image_alt: Acts
audio_mp3_path: /audio/bible-highlights/acts/book-simple.mp3
audio_wav_path: /audio/bible-highlights/acts/book-simple.wav
---
<h1>Acts of the Apostles  - Stage</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p> “For we cannot but</p>
<p>speak</p>
<p></p>
<p>(like actors on a stage do)</p>
<p>the things which we have seen and heard . . . And with great power gave the apostles</p>
<p>witness (like actors on a stage do)</p>
<p>of the resurrection of the Lord Jesus” 4:20, 33, “</p>
<p>Go, stand and speak in the temple (like actors on a stage do)</p>
<p>to the people all the words of this life.” 5:20</p>
<p>Acts are performed on a stage and Actors perform on a stage, so a stage is used for the highlight of Acts.</p>
<p>(the left, top and right side lines can be made into the left, top, and right side lines of an A for Acts, and the bottom of the curtain line can be made into the line going across the middle of an A for Acts)</p>
<p>(to remember there are 28 chapters in Acts think of the 2 parts of a stage - 1. the curtain and 2. the floor, for the 2 in 28 chapters and the floor has been made with 8 sections for the 8 in 28 chapters in Acts)</p>
<p>7 Places of the New Testament Books</p>
<p>The next 9 books are written to people in 7 places, so a map with numbers in the order they appear in the Bible is given so you can easily locate and remember the highlights about each one.</p>
{% include picture-page-footer.html %}
