---
layout: default
title: Bible Rich | 1 Thessalonians
image_path: /img/bible-highlights/books/1-thessalonians.png
image_alt: 1 Thessalonians
audio_mp3_path: /audio/bible-highlights/1-thessalonians/book-simple.mp3
audio_wav_path: /audio/bible-highlights/1-thessalonians/book-simple.wav
---
<h1>1 Thessalonians - Lady  Thessalonica On  Tower By Sea</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p> “unto the church of the</p>
<p>Thessalonians”</p>
<p>1:1, “to</p>
<p>establish</p>
<p>you, and to comfort you concerning your faith . . . To the end he may</p>
<p>stablish</p>
<p>your hearts unblameable in holiness” 3:2, 13, “For when they shall say, Peace and</p>
<p>safety</p>
<p>; then sudden destruction cometh upon them, as trevail upon a</p>
<p>woman</p>
<p>with child; and they shall</p>
<p>not escape</p>
<p>.” 5:3</p>
<p>Thessalonica, a city on the northern coast of the Mediterranean Sea, was founded in 315 B.C. and named for a sister of Alexander the Great. One of the principal landmarks is the White Tower on the waterfront, therefore a white tower with a lady on top to represent Alexander the Great’s sister, Thessalonica, drawn on the north side of the sea, are the highlights for 1 &amp; 2 Thessalonians.</p>
<p>Since we think of a tower as strong, sturdy, established and safe, you can think that the words “establish, stablish and safety” are used in 1 Thessalonians.</p>
<p>Since Paul instructed the Thessalonians in 1 &amp; 2 Thessalonians on the second coming of Jesus, when you think of the tall tower, you can think of Jesus coming down by them, up in the sky.</p>
<p>1 Thessalonians is the 8th of the 9 books written by Paul to a group of people in a place, Thessalonica, with the book so named, so land is drawn.</p>
<p>(the left side line of the tower can be made into the line going down of a T for Thessalonians and the top line of the tower can be made into the line going across of a T for Thessalonians; the “h” in Thessalonians can be made with the right side line of the tower; so that you can think of these 2 tall letters Th for the tall tower of Thessalonians)</p>
<p>(to remember there are 5 chapters in 1 Thessalonians the top line of the tower can be made into the top line of a 5 for 5 chapters, the left line of the tower can be made into the left line of a 5 and a half circle drawn around the door can be the bottom half circle of a 5 for 5 chapter in 1 Thessalonians)</p>
{% include picture-page-footer.html %}
