---
layout: default
title: Bible Rich | Esther
image_path: /img/bible-highlights/books/esther.png
image_alt: Esther
audio_mp3_path: /audio/bible-highlights/esther/book-simple.mp3
audio_wav_path: /audio/bible-highlights/esther/book-simple.wav
---
<h1>Esther - Queen  Esther</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p>“And the king loved</p>
<p>Esther</p>
<p>above all the woman. . . and made her</p>
<p>queen</p>
<p>” 2:17</p>
<p>(the bottom line of queen Esther’s crown can be made into the left side of an E for Esther and the two sides of the crown can be made into the top and bottom lines of an E for Esther, and then draw a line from the middle jewel down to meet the bottom line to make an E for Esther)</p>
<p>(to remember there are 10 chapters in Esther, think of the left side line of queen Esther as the 1 and her face as the 0)</p>
<p>(to remember queen Esther is from the tribe of Benjamin, the color of her dress is slate blue)</p>
<p>(there are 3 jewels in her crown to remember one of the most important things in Esther is in Chapter 3 which tells that to destroy and to perish means to kill, as opposed to living in fire throughout eternity)</p>
{% include picture-page-footer.html %}
