---
layout: default
title: Bible Rich | Revelation
image_path: /img/bible-highlights/books/revelation.png
image_alt: Revelation
audio_mp3_path: /audio/bible-highlights/revelation/book-detailed.mp3
audio_wav_path: /audio/bible-highlights/revelation/book-detailed.wav
prev_page: /bible-highlights/jude/
next_page: /bible-highlights/genesis/
---
<h1>Revelation - Little Jewel</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p class='lead'>“And the foundations of the wall of the city were garnished with all manner of precious stones.” 21:19</p>
<p>One little jewel is the highlight of Revelation, but all colors are used.</p>
<p>The last book of the Old Testament and the last book of the New Testament both end in jewel highlights &amp; they both have the same number of chapters numbers in that Malachi has 4 chapters and Revelation has 22 chapters which can be thought of as 2+2=4. Malachi uses the big number of 4 to go with the big jewel and Revelation uses the little numbers of 2 for 22 to go with the little jewel.</p>
<p>(the left side line of the little jewel can be made into the left side of an R for Revelation the lines around the top of the little jewel can be made into the circle at the top of the R and the 2nd line going down on the the left side of the little jewel can be made into the bottom right line of an R for Revelation)</p>
<p>(there are 2 ways to remember there are 22 chapters in Revelation - 1. the left top and bottom lines of the little jewel can be made into a 2 and the right top and bottom lines can be made into a backwards 2 for 22 chapters in Revelation, and 2. the 2 areas at the bottom left of the little jewel and the 2 areas of the top and bottom right go together to make 2 and 2 for the 22 chapters in Revelation)</p>
