---
layout: default
title: Bible Rich | Genesis 15
image_path: /img/bible-highlights/genesis/chapter-15.png
image_alt: Genesis 15
audio_mp3_path: /audio/bible-highlights/genesis/chapter-15.mp3
audio_wav_path: /audio/bible-highlights/genesis/chapter-15.wav
next_page: /bible-highlights/genesis/chapter-16.html
prev_page: /bible-highlights/genesis/chapter-14.html
---
<h1>Genesis 15</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p>There are 5 things that happen in this chapter that start with the letter ‘S’; and 5 &amp; S have the same shape, so you can relate it to a 5 star hotel.</p>
<p>You can think of this chapter as a treasure map where you stay in a 5 star hotel on your trip, you know the stars are shining at night because you are outside looking for the treasure and you need a lamp.</p>
<p>The stars on the top of the big 5 represent the <strong>S</strong>eed as <strong>S</strong>tars promise to Abram.</p>
<p>Then the line of the left side of the big 5 represents Israel going down to Egypt and being</p>
<strong>S</strong>trangers and afflicted 400 years (think of chapter 15 as 5 -1 = 4 to remember the 400 years). Then the half circle of the big 5 is they would go out of Egypt with great <strong>S</strong>ubstance, which is represented by jewels and gold. You can think of a 5 as the same shape of $ (a dollar sign) to easily remember this is the chapter where the Egyptians are prophesied to give (money) great substance to the Israelites when God delivers them.</p>
<p>The big 1 is drawn as a lamp with smoke coming out of it to represent the Burning Lamp and <strong>S</strong>moking Furnace covenant, with 5 animals (you can also think of this for the 5 in 15).</p>
<p>The book highlight is heaven &amp; earth so they are placed by the ‘seed as stars’ because Abram would have many descendants on the earth.</p>
{% include picture-page-footer.html %}
