---
layout: default
title: Bible Rich | Genesis 27
image_path: /img/bible-highlights/genesis/chapter-27.png
image_alt: Genesis 27
audio_mp3_path: /audio/bible-highlights/genesis/chapter-27.mp3
audio_wav_path: /audio/bible-highlights/genesis/chapter-27.wav
---
<h1>Genesis 27</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p>The big 2 is made into Rebekah putting the kid’s goat skin on Jacob’s hands and neck.</p>
<p>Jacob is drawn into the big 7 with one arm stretched out to make a 7. Rebekah wanted Jacob to be like Esau with the hair so that he can deceive Isaac for the blessing.</p>
<p>Esau and Jacob were twins and “Twin deceiving” and “twenty seven” sound very similar, which can be another clue to help you remember chapter 27 is about a twin deceiving his father.</p>
<p>The heaven &amp; earth are placed by the word ‘blessing’ to be a blessing on the earth.</p>
{% include picture-page-footer.html %}
