---
layout: default
title: Bible Rich | Genesis 31
image_path: /img/bible-highlights/genesis/chapter-31.png
image_alt: Genesis 31
audio_mp3_path: /audio/bible-highlights/genesis/chapter-31.mp3
audio_wav_path: /audio/bible-highlights/genesis/chapter-31.wav
---
<h1>Genesis 31</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p>Jacob flee or runs from Pandanaram and Laban pursues after him. Run &amp; 31 rhyme, so you can easily remember this. The big 3 is drawn into a map showing Laban, drawn out of a little 1 for chapter 31, in Pandanaram (at the top of the 3) pursuing after Jacob, drawn out of a little 1 for chapter 31(who is in the middle of the 3) as Jacob is trying to make it back to Canaan (which is drawn at the bottom of the 3). The middle of the 3 you can think of as the middle of the trip and is split in half by the red line, in the shape of a 1 lying down (for the 1 in chapter 31) showing that is where they made the agreement that Laban would not go forward and cross the line for evil and Jacob would take no more wives.</p>
<p>The big 1 is made into a statue or image that Rachel steals from her father, Laban.</p>
<p>The heaven &amp; earth book highlight is placed by the word ‘covenant’ because they made the covenant using a rock on the earth and not to cross that line on the earth.</p>
{% include picture-page-footer.html %}
