---
layout: default
title: Bible Rich | Genesis 9
image_path: /img/bible-highlights/genesis/chapter-09.png
image_alt: Genesis 9
audio_mp3_path: /audio/bible-highlights/genesis/chapter-09.mp3
audio_wav_path: /audio/bible-highlights/genesis/chapter-09.wav
next_page: /bible-highlights/genesis/chapter-10.html
prev_page: /bible-highlights/genesis/chapter-08.html
---
<h1>Genesis 9</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p>The rainbow at the top of the big 9 represents God’s promise not to have a flood cover the earth again.</p>
<p>At the bottom left, after the flood in Genesis 9, God said every moving thing that liveth shall be meat for you, even as the green herb (which he added to their diet in Genesis 3). A little 9 is drawn with the top made into an animal that has been killed and cooking over a fire drawn at the bottom of the nine, to represent that man was now given meat to eat. God also says here not to eat the blood or he would require of us and after this the life expectancy of man greatly decreased.</p>
<p>Under the word Noah is his age when he died, 950 yrs. old. You can easily remember his age if you use the clue that he is the last man to live to be in the 900 year range, for the 9 in his age of 950, because he was in the flood and after that man’s age greatly decreased, nearly in half and even more as time when on. Since</p>
<p>50% is half you can think 50 for this decrease in the life expectancy of man for the 50 in Noah’s age of 950.</p>
<p>At the top right, you can think, Noah drank wine in chapter nine (9), which rhymes for easy remembrance.</p>
<p>The circle of the big 9 is made into an eye to represent Ham’s eye who sees his father’s nakedness while he was drunk. Many chapter 9’s are made into eyes (the angels blind the eyes of the evil men along with Lot’s wife looks with her eyes back at Sodom all in Genesis 19, Jesus heals the blind man with clay &amp; spittle in John 9, &amp; Paul is blinded &amp; recovers his sight along with (dead) Dorcas (Tabitha) opens her eyes all in Act 9), so you can get the picture stored in your mind of an eye in a 9 to make this &amp; future chapters easy to remember.</p>
<p>The man at the bottom of the big 9 is Noah being covered with a garment by Shem and Japheth.</p>
<p>The book highlight is heaven &amp; earth so they are drawn in the word ‘rainbow’ because there was a rainbow over the earth in this chapter.</p>
{% include picture-page-footer.html %}
