---
layout: default
title: Bible Rich | Genesis 32
image_path: /img/bible-highlights/genesis/chapter-32.png
image_alt: Genesis 32
audio_mp3_path: /audio/bible-highlights/genesis/chapter-32.mp3
audio_wav_path: /audio/bible-highlights/genesis/chapter-32.wav
next_page: /bible-highlights/genesis/chapter-33.html
prev_page: /bible-highlights/genesis/chapter-31.html
---
<h1>Genesis 32</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p>The big 3 is drawn into the bones of Jacob’s thighs. The red on the outside represents the muscle or sinew that shrank around the bone on Jacob’s thigh when God touched the hallow of his thigh. This made Jacob’s thigh out of joint so that he halted upon his thigh, which was a time of trouble for him, physically.</p>
<p>You can think of the big 2 as the “terrible 2’s” that children go through and the “terrible 2” time of trouble that Jacob went through.</p>
<p>The top of the big 2 is made into a clock which represents Jacob’s “time” of trouble (wrestling with a man, which turns out to be God) and the time is early in the morning (drawn about 5 a.m.). God (coming from heaven, which Jacob at first thought was a man) and Jacob (on the earth) are wrestling in the bottom of the big 2, for the mental and spiritual time of trouble Jacob went through. You can also think of Jacob holding on to God in the big 2 saying, “I will not let thee go except thou bless me.” It also looks like (in the big 2 of them wrestling) Jacob has power over God &amp; man (and prevailed). So, God changed Jacob’s name to Israel, which is what Israel means. The book highlight is heaven &amp; earth so they are placed by the 2 wrestling because they wrestled on the earth.</p>
{% include picture-page-footer.html %}
