---
layout: default
title: Bible Rich | Genesis 20
image_path: /img/bible-highlights/genesis/chapter-20.png
image_alt: Genesis 20
audio_mp3_path: /audio/bible-highlights/genesis/chapter-20.mp3
audio_wav_path: /audio/bible-highlights/genesis/chapter-20.wav
next_page: /bible-highlights/genesis/chapter-21.html
prev_page: /bible-highlights/genesis/chapter-19.html
---
<h1>Genesis 20</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p>The big 2 is made into Sarah with her robe flowing into the bottom of the 2 because this is the 2nd time that Abraham says Sarah is his sister, this time to Abimelech, a Philistine king of Gerar.</p>
<p>The big 0 represents the times that Abraham calls Sarah his sister after this time, that is none.</p>
<p>The big 0 also can represent no births to Abimelech for taking Sarah and can represent one or all of the 0’s in 1000 pieces of silver that he paid Abraham to stop the plague of no births. Abraham prayed and God healed them.</p>
<p>The heaven &amp; earth are placed by the word ‘healed’ because God heals people on the earth.</p>
{% include picture-page-footer.html %}
