---
layout: default
title: Bible Rich | Genesis 21
image_path: /img/bible-highlights/genesis/chapter-21.png
image_alt: Genesis 21
audio_mp3_path: /audio/bible-highlights/genesis/chapter-21.mp3
audio_wav_path: /audio/bible-highlights/genesis/chapter-21.wav
next_page: /bible-highlights/genesis/chapter-22.html
prev_page: /bible-highlights/genesis/chapter-20.html
---
<h1>Genesis 21</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p>The top of the big 2 is Isaac born as a baby, that this was the high, correct way to have the promised son. This is also represented by the arrow beside the big 1 going up.</p>
<p>The bottom is Hagar and Ishmael cast out of the camp into the world for mocking Isaac, because this was a lowly thing to do. This is also represented by the arrow by the big 1 going down for being cast out.</p>
<p>The big 1 represents the letter “I” for the first letter of the 2 sons, <strong>I</strong>saac and <strong>I</strong>shmael. So you can think of 21 as the 2 “I” names of Abraham’s sons. The book highlight is heaven &amp; earth so they are drawn under the big 2 where Hagar and Ishmael are being cast out into the world.</p>
{% include picture-page-footer.html %}
