---
layout: default
title: Bible Rich | Genesis 25
image_path: /img/bible-highlights/genesis/chapter-25.png
image_alt: Genesis 25
audio_mp3_path: /audio/bible-highlights/genesis/chapter-25.mp3
audio_wav_path: /audio/bible-highlights/genesis/chapter-25.wav
next_page: /bible-highlights/genesis/chapter-26.html
prev_page: /bible-highlights/genesis/chapter-24.html
---
<h1>Genesis 25</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p>Three major things of life happen in this chapter - a marriage, a birth, and a death. Abraham marries Keturah. Since Sarah was dead this was correct, as opposed to how Abraham married Hagar. So  the little 2 on the left is drawn into a lady to represent Keturah, Abraham’s 2nd correct wife.</p>
<p>The little 5 is drawn into a 6 showing they had 6 sons, which you can think is just 1 more than 5.</p>
<p>The big 2 is made into the twins born to Isaac and Rebekah. The top of the big 2 is Esau with red hair and the bottom is Jacob, as babies.</p>
<p>On the bottom of the big 5 is a sideways pot of red lentils. The top part of the 5 is the pot handle.</p>
<p>You can think of a 5 as the same shape of $ (a dollar sign) for sells, to easily remember this is the chapter where Esau sells his birthright to Jacob. Genesis 35, Exodus 25, and Exodus 35 have money in them also, using the $ (dollar sign), so you can start thinking that way to make it easy for you to remember.</p>
<p>The little 2 on the right is for Abraham as the 2nd person buried in the cave in Canaan.</p>
<p>The bottom of the 5 is a backwards “c” for cave in Canaan &amp; also illustrates this. He dies at age 175 (a smaller 1 and the 7 are on the left of the little 5).</p>
<p>Sarah and Abraham’s age of death are similar and go together in some interesting ways. Sarah at 127 and Abraham at 175 have the 1 and 7 in common. Then, they both have the missing number of the other when you subtract them from the 7. Sarah’s last two age numbers subtracted 7-2=5 gives the 5 in Abraham’s age.  Abraham’s last two age numbers subtracted 7-5=2 gives the 2 in Sarah’s age. Then,</p>
<p>they both have a number in their age that is in the chapter they die in. Sarah 1<strong>2</strong>7 in chapter <strong>2</strong>3. Abraham 17<strong>5</strong> in chapter 2</p>
<strong>5</strong>. The last interesting thing is that the only other odd number that is not used twice in these last four numbers mentioned - 127, 23, 175, &amp; 25 - is the 3, which you can think of their deaths are 3 chapters away from each other using the chapter they die in: 23, 24, 25. You can think of another way to use the odd number 3, if you think, 3 times 25 = 75, to remember part of the numbers of the age Abraham was when he died.</p>
<p>The book highlight is heaven &amp; earth so they are drawn under the little 2 on the right representing the 2nd burial in the cave in Canaan which is on the earth.</p>
{% include picture-page-footer.html %}
