---
layout: default
title: Bible Rich | Genesis 3
image_path: /img/bible-highlights/genesis/chapter-03.png
image_alt: Genesis 3
audio_mp3_path: /audio/bible-highlights/genesis/chapter-03.mp3
audio_wav_path: /audio/bible-highlights/genesis/chapter-03.wav
next_page: /bible-highlights/genesis/chapter-04.html
prev_page: /bible-highlights/genesis/chapter-02.html
---
<h1>Genesis 3</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p>This chapter starts out on the top right with a 3 made into a mouth for Satan telling Eve the 1st lie on earth, “ye shall not surely die.” You can also think of the curvy line of the heaven and earth highlight as the voice coming out of Satan’s mouth saying words to Eve, causing her to eat from the tree. The 3 on the earth on the top right is made into Adam and Eve’s two graves to represent this not being true. They did eventually die.</p>
<p>The little 3 on the middle left (by the word eats) is made into a mouth to represent Eve eating from the tree. The little 3 (by the word tree) is made into a tree to represent the tree she ate from (like the tree is in day 3 of creation).</p>
<p>The lady represents Eve in the middle of the big 3 reaching up to eat the fruit of the tree of the knowledge of good &amp; evil, to be higher like God, which is drawn at the top of the big 3; but actually went lower (the punishment) to be cast out of the garden into the earth. The book highlight is heaven &amp; earth so this drawn at the bottom of the big 3 made into an arrow pointing to Adam &amp; Eve being cast out of the garden into another part of the earth. The serpent was made to crawl on its belly, which is drawn at the bottom of the big 3. The arrow pointing from the serpent to the earth you can also think of as Satan now after man, to continue to deceive him.Yet, God put enmity between the serpent and man.</p>
<p>The prophesy that Satan would bruise Jesus’ heal is represented with the foot on top of the little earth having a bluish bruised heal with the bottom of the foot drawn into the shape of a 3 for Genesis chapter 3. You can think of the serpent on the ground going after this foot on the ground which both are lower on the ground and drawn on the lower part of the big 3. This is also where man was given the herb of the field to eat, so a little green plant on this little earth is drawn with 3 green leaves in the shape of 3s.</p>
<p>Think of the 1st letter “E” in Eve and Enmity (and also Eats) as backwards 3’s to remember they are in chapter 3. Eve, eats, tree &amp; three (3) rhyme, which helps you remember they go together just like God making trees on day three (3) rhyme &amp; makes it easy to associate together &amp; remember in chapter 1.</p>
{% include picture-page-footer.html %}
