---
layout: default
title: Bible Rich | Genesis 41
image_path: /img/bible-highlights/genesis/chapter-41.png
image_alt: Genesis 41
audio_mp3_path: /audio/bible-highlights/genesis/chapter-41.mp3
audio_wav_path: /audio/bible-highlights/genesis/chapter-41.wav
next_page: /bible-highlights/genesis/chapter-42.html
prev_page: /bible-highlights/genesis/chapter-40.html
---
<h1>Genesis 41</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p>Again the big 4 is Pharaoh’s throne and the heaven &amp; earth are placed under it because he was the major ruler of the earth.</p>
<p>The big 1 is made into a skinny corn stalk &amp; ears that are withered away and could not get fat due to the 7 years of famine in Pharaoh’s dream. You can also think of the top of the 1 as a little 7 for the 7 years of plenty and 7 years of famine.</p>
<p>Even though it is not drawn, you can also think that the 1 could be a skinny cow, unlike the plump baker of 40.</p>
<p>Joseph’s wife’s name was Asenath (begins with an “A” - first letter of the alphabet). The name Pharaoh gave Joseph was Zaphnath-paaneah (begins with a “Z” - last letter of the alphabet). This makes their names easy to remember.</p>
<p>Joseph only has 2 sons and they were born in this chapter - Manasseh and Ephraim. The oldest was Manasseh and youngest was Ephraim. Their initials spell out the word ME, so you can easily remember who was older and who was younger.</p>
<p>Joseph now has a family of 4 in this chapter instead of just himself, 1 alone in Egypt, for chapter 41.</p>
{% include picture-page-footer.html %}
