---
layout: default
title: Bible Rich | Genesis 46
image_path: /img/bible-highlights/genesis/chapter-46.png
image_alt: Genesis 46
audio_mp3_path: /audio/bible-highlights/genesis/chapter-46.mp3
audio_wav_path: /audio/bible-highlights/genesis/chapter-46.wav
---
<h1>Genesis 46</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p>The big 4 is Pharaoh’s throne and the heaven &amp; earth placed under it because he was the major ruler of the earth.</p>
<p>The big 6 is drawn into a map with the bottom of the circle being Egypt which was south of Canaan. All 66 of Jacob’s household go down to Egypt, so you can think chapter 46 and the 66, both end in a 6.</p>
<p>The big 6 is like the 6 in chapter 36 going down to Jacob’s descendants and easily associate chapter 36 with 46 because they both tell the descendants of the twins - 36 is Esau’s descendants and 46 is Jacob’s descendants. Esau was born 1st, so his</p>
<p>descendants are the 1st, recorded in chapter 36 and Jacob is the last born, so his descendants would be recorded last in chapter 46.</p>
<p>The different and interesting names of Muppim, Huppim and Ard, which are Jacob’s descendants (Benjamin’s sons), are noted so you can remember where they are in the Bible. Think of the two “p’s” in Muppim and Huppim as upside down 6’s and the “H” and “A” in Huppim and Ard can be made into 4’s to help remember they are in chapter 46.</p>
<p>Joseph, his wife and his 2 sons, these 4 plus the 66 make up the 70 now in Egypt drawn in the bottom circle of the big 6 to remember all 70 are in the land of Egypt.</p>
<p>The water drops are Jacob and Joseph’s tears as they weep when they meet (similar to the little 6 in chapter 26).</p>
{% include picture-page-footer.html %}
