---
layout: default
title: Bible Rich | Genesis 49
image_path: /img/bible-highlights/genesis/chapter-49.png
image_alt: Genesis 49
audio_mp3_path: /audio/bible-highlights/genesis/chapter-49.mp3
audio_wav_path: /audio/bible-highlights/genesis/chapter-49.wav
---
<h1>Genesis 49</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p>The big 4 is Pharaoh’s throne and the heaven &amp; earth placed under it because he was the major ruler of the earth.</p>
<p>Jacob blessing his 12 sons are prophecies told about them, so you can think of the “p” for prophecies backwards making a 9.</p>
<p>The big 9 is made into a ruler with a crown and a scepter. Jacob’s says that Judah will have the royal line descending through him till Shiloh (Jesus) comes. Line &amp; nine (9) rhyme and Chapter 29 is where Judah is born, the line of Jesus. You can correlate 29 and 49 as having “Judah line” in common.</p>
<p>The little man at the bottom of the big 9 is made like the man in chapter 14 when Melchizedek blesses Abram. His hands are stretched out to make you think of the shape of a 4 and the big 9 you can think of a word caption that he is blessing Judah that the septre will not part from his line till Shiloh comes, which is when the rulership of Judah’s line actually stopped.</p>
<p>The little 9 is made into a grave to represent Judah’s death. You can think this is where Judah comes to the end of his</p>
<p>line</p>
<p>at the bottom of the</p>
<p>nine</p>
<p>, and</p>
<p>dies</p>
<p>.</p>
{% include picture-page-footer.html %}
