---
layout: default
title: Bible Rich | Genesis 12
image_path: /img/bible-highlights/genesis/chapter-12.png
image_alt: Genesis 12
audio_mp3_path: /audio/bible-highlights/genesis/chapter-12.mp3
audio_wav_path: /audio/bible-highlights/genesis/chapter-12.wav
next_page: /bible-highlights/genesis/chapter-13.html
prev_page: /bible-highlights/genesis/chapter-11.html
---
<h1>Genesis 12</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p>Abram is made into the 1, standing straight and tall.</p>
<p>Sarah is drawn into the 2 with a skirt on that flows into the bottom of the 2 and her head is leaning towards Abram, because she goes with him when he is called out. The curve of the top of a backwards 2 can start the curve of an <em>S</em> for <em>S</em>arah and <em>s</em>ister to help you associate these two words in chapter 12.</p>
<p>You can remember Abram is in chapter 12 by thinking Abram was called out like the 12 apostles were called, and Abram is the great-grandfather of the 12 tribes.</p>
<p>If you add the bottom of the 1 saying “1st time” with Abram and the text under it, it says the “1st time Abram says Sarai is sister,” this time to Pharaoh. Or, it can also be read with the 12 like this, “the 1st of the 2 times Abram says Sarai is sister.” (The other time is in chapter 20 to Abimelech.)</p>
<p>This chapter is 1 of at least 5 Genesis chapters that prophesy that Jesus (the line of these patriarchs) would bless all people of the earth. The highlight of the heaven &amp; earth is drawn with a little 1, for chapter 12, made into a man to represent in Abraham, or you can think of the little man as being Jesus, and the little 2 for chapter 12 is made into hands over the earth blessing all the families of the earth.</p>
<p>The book highlight is heaven &amp; earth so they are placed by ‘get thee out’ which can also mean that Abram was called out of the world (worldliness).</p>
{% include picture-page-footer.html %}
