---
layout: default
title: Bible Rich | Genesis 48
image_path: /img/bible-highlights/genesis/chapter-48.png
image_alt: Genesis 48
audio_mp3_path: /audio/bible-highlights/genesis/chapter-48.mp3
audio_wav_path: /audio/bible-highlights/genesis/chapter-48.wav
---
<h1>Genesis 48</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p>The big 4 is Pharaoh’s throne and the heaven &amp; earth placed under it because he was the major ruler of the earth.</p>
<p>There are two heads made from the 2 circles of the big 8 representing Manasseh and Ephraim, Joseph’s sons. Jacob’s arms are crossed as he is blessing them opposite (making a figure 8). If you cross your arms and touch your elbows with your fingertips it will also make an 8. This is an easy way to remember chapter 48.</p>
{% include picture-page-footer.html %}
