---
layout: default
title: Bible Rich | Genesis 34
image_path: /img/bible-highlights/genesis/chapter-34.png
image_alt: Genesis 34
audio_mp3_path: /audio/bible-highlights/genesis/chapter-34.mp3
audio_wav_path: /audio/bible-highlights/genesis/chapter-34.wav
next_page: /bible-highlights/genesis/chapter-35.html
prev_page: /bible-highlights/genesis/chapter-33.html
---
<h1>Genesis 34</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p>The big 3 is made into a map of the route that Dinah and Shechem took to meet each other. At the top of the big 3 the pink lady and the pink dotted line represents Dinah going out to see the daughters of the land (upon the earth, worldly), while the blue dotted line and the blue man shows a male by the name of Shechem meeting her there in the middle of the 3 and then taking her.</p>
<p>To help you remember this chapter easily, you can think of this as being “four”nication (for the 4 in chapter 34).</p>
<p>Dinah and Shechem were going to be married, so all of the Shechem men were circumcised. Drawn on the left side of the big 4 is an arm with a weapon to represent Simeon and Levi killing all the males who were circumcised, which lost them the birthright of Jesus line. The man drawn on the right side of the big 4 is drawn to represent the men that they killed. The picture is like the picture drawn for Cain killing Abel (Genesis chapter 4) to help you remember easily 4 and 34 are killings. With so many killed in chapter 34 you can think of it as the slaughter and since it begins with an “s” sounds and so does circumcision you can put them together. An easy way to remember the “circumcision and the slaughter,” think of the 3 having two “circles for circumcision,” and the 4 as the “killing for slaughter.”</p>
<p>The book highlight is heaven &amp; earth so they are drawn under the words ‘of the land’ because Dinah went out to see the daughters upon the earth.</p>
{% include picture-page-footer.html %}
