---
layout: default
title: Bible Rich | Genesis 2
image_path: /img/bible-highlights/genesis/chapter-02.png
image_alt: Genesis 2
audio_mp3_path: /audio/bible-highlights/genesis/chapter-02.mp3
audio_wav_path: /audio/bible-highlights/genesis/chapter-02.wav
next_page: /bible-highlights/genesis/chapter-03.html
prev_page: /bible-highlights/genesis/chapter-01-days-of-creation.html
---
<h1>Genesis 2</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p>The top of the big 2 is shaped like a 7 and colored purple for the 7th day blessed and rest.</p>
<p>The bottom of the big 2, colored blue, makes the shape of a “d” for the details of creation. The details are pictured in the bottom circle of the big 2 or “d” shape, starting at the top and going in a circle to the left. The stick man laying down is God forming man of the dust of the earth. The number 2, for Genesis chapter 2, at the right of the man is made into a nose to represent God breathing into Adam’s nostrils the breath of life. The tree represents Adam &amp; Eve being put in the Garden of Eden with the tree of the knowledge of good &amp; evil in it. The side of the tree makes an “E” to spell out Eden. The 4 rivers are represented by the blue colored lines, drawn with one going on the top of the circle, one going on the bottom of the circle, &amp; two in the middle of the circle, the gold &amp; jewels God put on the earth that chapter 2 tells about are represented by the yellow rectangle and the purple</p>
<p>gem. Adam naming the animals is represented by the elephant. The stick man on the ground with the black curved line above him represents God taking a rib from Adam, and the stick man and woman holding hands represents the 2 shall be 1 flesh.</p>
<p>The little 2 on the right is made into a lady to represent Eve with her hand reaching to the little head at the top of the 2 to represent Adam, to be his help meet. Many chapters of the Bible with a 2 or 2 in the number are about women. A skirts can be easily drawn out of the bottom of the 2, which you can already start correlating chapter 2’s with women. Think of Adam’s head being there all alone on the earth highlight that is placed to the left to represent it not being good for man to be alone on the earth.</p>
<p>The arrow at the right bottom of the big 2 is representing death, going down into the grave, if they eat from the tree of the knowledge of good &amp; evil. The book highlight is heaven &amp; earth so they are also placed in the word ‘creation’ because God created heaven &amp; earth.</p>
{% include picture-page-footer.html %}
