---
layout: default
title: Bible Rich | Genesis 5
image_path: /img/bible-highlights/genesis/chapter-05.png
image_alt: Genesis 5
audio_mp3_path: /audio/bible-highlights/genesis/chapter-05.mp3
audio_wav_path: /audio/bible-highlights/genesis/chapter-05.wav
next_page: /bible-highlights/genesis/chapter-06.html
prev_page: /bible-highlights/genesis/chapter-04.html
---
<h1>Genesis 5</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p>The top of the big 5 is made into an “A” for Adam at the beginning of the alphabet (and the beginning of the world) and his generations down to the bottom of the big 5, to Noah in the flood, who he is the next one on the scene in the Bible, chapters 6-10. The little “a” in Adam is made into the fruit that he ate.</p>
<p>The bottom of the big 5 is made into the world with an arrow going around it to represent Noah maybe traveling around the world in the flood.</p>
<p>At the top of the big 5 the little 3 on the left is made into a mouth to represent Adam eating and the other 3 is made into a tree for him eating from the tree of the knowledge of good and evil. This is what made him die, so you can put the 3 in the age of his death at 930 yrs. old together with these 3’s that happened in chapter 3 to</p>
<p>remember his age. You can remember it was in the 900’s because a day in the sight of the Lord is as a 1000 and he did not get to live a 1000 yrs., or a day in God’s eyes, to fulfill the words spoken by God that if he ate from the tree, in that day, he should surely die.</p>
<p>The little 5 at the right shows Enoch walking on the earth with God and then going up to heaven because God took him. The bottom of the little 5 illustrates Enoch’s son, Methuselah, receiving the blessing of his righteous father, shown going around the earth living the longest, which is also the same as commandment 5 picture to honor thy father and mother that thy days may be long upon the land which thy Lord, thy God giveth thee.</p>
<p>To remember Methuselah’s age, think of it just short of 1000 years, a day in God’s eyes. Instead of 999 years, its 9, then turn the 9 upside down to make a 6 and then turn the 6 upside again to make a 9. or just think its 999 with the middle 9 upside down.</p>
<p>God said in Genesis 2 that in the day Adam ate from the tree, he would die, so none of Adam’s children got to live a day, in God’s eyes. To remember the references, think 2+3= 5 for 2 Peter 3 is in Genesis 5 about Methuselah living 969 years, which was not a day (1000 years) with the Lord.</p>
<p>For the Psalm 90 reference, think of the 9’s of the 969 years almost being 1000 years and the 0’s in the 1000 years to remember the 1000 years is as yesterday in the sight of God in Psalm 90. The book highlight is heaven &amp; earth so they are placed in the little 5 where Enoch walked with God and where Methuselah was the longest living man on the earth.</p>
{% include picture-page-footer.html %}
