---
layout: default
title: Bible Rich | Genesis 23
image_path: /img/bible-highlights/genesis/chapter-23.png
image_alt: Genesis 23
audio_mp3_path: /audio/bible-highlights/genesis/chapter-23.mp3
audio_wav_path: /audio/bible-highlights/genesis/chapter-23.wav
next_page: /bible-highlights/genesis/chapter-24.html
prev_page: /bible-highlights/genesis/chapter-22.html
---
<h1>Genesis 23</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p>Once again Sarah is made into the big 2 with her skirt flowing out at the bottom of the 2. The backwards curve of a 2 is in the shape of an S, so you can also associate
<strong>S</strong>arah, <strong>s</strong>hekel, and <strong>s</strong>ilver together for this chapter.</p>
<p>The heart beat symbol at the bottom left, shows that she died because it stops as it hits the bottom of the big 2 (called a flat line for no heart beat or death). You can also see that she died at 127 years old (the 2 is the big 2 with the little 1 on the left and the little 7 on the right of the big 2).</p>
<p>The top of the big 3 is made into the cave that Abraham buys and Sarah is buried in. The top of the big 3 also makes a backwards “c” for cave.</p>
<p>The bottom is a map so you can see where Hebron is (where the cave is) in the land of Canaan. The bottom of the 3 also makes a backwards “c” for Canaan. So you can think of the 3 as 2 backwards “c’s” for cave in Canaan.</p>
<p>23 is in numerical order, so counting up 2, 3, 4, it can represent the 4 in 400 shekels of silver that Abram bought the cave for.</p>
<p>The burial cave in Canaan is on the earth, so the heaven &amp; earth are placed by ‘cave in Canaan.’</p>
{% include picture-page-footer.html %}
