---
layout: default
title: Bible Rich | Genesis 16
image_path: /img/bible-highlights/genesis/chapter-16.png
image_alt: Genesis 16
audio_mp3_path: /audio/bible-highlights/genesis/chapter-16.mp3
audio_wav_path: /audio/bible-highlights/genesis/chapter-16.wav
next_page: /bible-highlights/genesis/chapter-17.html
prev_page: /bible-highlights/genesis/chapter-15.html
---
<h1>Genesis 16</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p>Hagar was younger than Sarai, to have a child, so you can think 16 is a young age to remember Hagar having a son for them.</p>
<p>Hagar bears Ishmael by Abram. This is shown by the bottom of the big 6 being drawn into a baby wrapped in blue for a son. With the baby at the bottom of the six can make you think that this was a low, incorrect way to make God’s promise come true.</p>
<p>The big 1 is made into the words 1st to represent Abram’s first son.</p>
<p>This idea was man’s way and man was created on day 6 also for the 6 in 16.  The book highlight is heaven &amp; earth so the earth is placed under the 6 because God created man &amp; the earth.</p>
{% include picture-page-footer.html %}
