---
layout: default
title: Bible Rich | Genesis 14
image_path: /img/bible-highlights/genesis/chapter-14.png
image_alt: Genesis 14
audio_mp3_path: /audio/bible-highlights/genesis/chapter-14.mp3
audio_wav_path: /audio/bible-highlights/genesis/chapter-14.wav
next_page: /bible-highlights/genesis/chapter-15.html
prev_page: /bible-highlights/genesis/chapter-13.html
---
<h1>Genesis 14</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p>Think of Abram rescuing Lot with a lasso made out of the big 4.</p>
<p>The big 1 is made into Melchizedek king of Salem, which means peace, standing tall with his hands out to bless Abram. His body and hands out make the beginning of the shape of a big 4 also. If Abram was standing there being blessed in front of Melchizedek, it would make a complete 4.</p>
<p>The bottom right is a little 1 made into a man to represent Abram and there is a little 4 made out of Abrams arm’s and the big bag he is holding to represent Abram giving the tithe of all to Mechizedek.</p>
<p>The book highlight is heaven &amp; earth so they are drawn under ‘Melchizedek blesses Abram’ because he blessed him on this earth.</p>
{% include picture-page-footer.html %}
