---
layout: default
title: Bible Rich | Genesis 11
image_path: /img/bible-highlights/genesis/chapter-11.png
image_alt: Genesis 11
audio_mp3_path: /audio/bible-highlights/genesis/chapter-11.mp3
audio_wav_path: /audio/bible-highlights/genesis/chapter-11.wav
next_page: /bible-highlights/genesis/chapter-12.html
prev_page: /bible-highlights/genesis/chapter-10.html
---
<h1>Genesis 11</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p>The 11 is made into the Twin Towers in New York that were destroyed on 9/<strong>11</strong>. Since we called them “towers” it can help you think of the Tower of Babel. 11 is also the day that they fell to help you remember this association easily.</p>
<p>An 11 looks like the two sides of a tower with the no top or roof on it which can help you think of the Tower of Babel being built in chapter 11.</p>
<p>The generations from Shem to Abram are listed in this chapter, which is a smaller block of generations than Chapters 5 &amp; 10, as we already noted as representing the 1st and middle of the alphabet). This group you can think of as the little group at the last of the alphabet “S” for Shem to the beginning, “A” for Abram, of the next group of people God is going to work with. (This next group of people will also go alphabetically in order, all the way to the end of Genesis - “A” for Abram to “I” for Isaac to “J” for Jacob) Because Abram is next on the scene, an 11 is drawn on the h and b lines and the 2 m’s of Shem and Abram, to connect them showing the birthright line going down to Abram.</p>
<p>The book highlight is heaven &amp; earth so they are drawn in the word ‘towers’ because the towers were also called the <strong>World</strong> Trade Center.</p>
{% include picture-page-footer.html %}
