---
layout: default
title: Bible Rich | Genesis 44
image_path: /img/bible-highlights/genesis/chapter-44.png
image_alt: Genesis 44
audio_mp3_path: /audio/bible-highlights/genesis/chapter-44.mp3
audio_wav_path: /audio/bible-highlights/genesis/chapter-44.wav
---
<h1>Genesis 44</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p>The big 4 is Pharaoh’s throne and the heaven &amp; earth placed under it because he was the major ruler of the earth.</p>
<p>The 2nd big 4 is the silver cup Joseph had someone put in Benjamin’s grain sack to say that Benjamin stole it.</p>
<p>Then there is the big conversation between Joseph &amp; Judah, 1st to let them stay as his servants, when Joseph says no to that then Judah says that he will take Benjamin’s place, but let the lad go or his father will die. You can think of Genesis 44 as the doubles - the double 4’s (in 44) and the double c’s (for cup and conversation) and double J’s (for Joseph &amp; Judah).</p>
{% include picture-page-footer.html %}
