---
layout: default
title: Bible Rich | Genesis 1
image_path: /img/bible-highlights/genesis/chapter-01.png
image_alt: Genesis 1
audio_mp3_path: /audio/bible-highlights/genesis/chapter-01.mp3
audio_wav_path: /audio/bible-highlights/genesis/chapter-01.wav
next_page: /bible-highlights/genesis/chapter-01-days-of-creation.html
prev_page: /bible-highlights/genesis/genesis-organization.html
---
<h1>Genesis 1</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p>The big 1 is drawn into God standing and speaking the days into creation, talking about making man, and telling Adam &amp; Eve the diet for them &amp; the animals. The colors of the days describe them - 1. light 2. firmament 3. land &amp; trees 4. lights - sun, moon, &amp; stars 5. fish &amp; fowl 6. land animals &amp; man. The next picture page will show this and the days in detail and how to easily remember them.</p>
<p>The colors used for the letters in the word diet are colors of grains, seeds, fruits &amp; nuts. The book highlight of the heaven &amp; earth are used to draw a one made into a plant with seeds falling off of it and placed on the earth to represent “every herb bearing seed, which is upon the face of all the earth,” that was the 1st item mentioned for man to eat.  A tree with seeds falling off of it made out of a 1 is also drawn on a little earth to represent the 2nd item mentioned, “every tree, in the which is the fruit of a tree yielding seed, to you it shall be for meat.” A man is drawn in a 1 shape for Genesis chapter 1 to represent Adam with his hand up to his mouth eating this diet.</p>
<p>Days and Diet both start with a “D” for an easy remembrance.</p>
<p>The book highlight is heaven &amp; earth, so the the heaven &amp; earth are placed after the 3 because this is what the earth looked like at that point and also it looks like God’s hands are creating the heaven &amp; the earth.</p>
{% include picture-page-footer.html %}
