---
layout: default
title: Bible Rich | Genesis 8
image_path: /img/bible-highlights/genesis/chapter-08.png
image_alt: Genesis 8
audio_mp3_path: /audio/bible-highlights/genesis/chapter-08.mp3
audio_wav_path: /audio/bible-highlights/genesis/chapter-08.wav
next_page: /bible-highlights/genesis/chapter-09.html
prev_page: /bible-highlights/genesis/chapter-07.html
---
<h1>Genesis 8</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p>In the little 8 at the bottom left, the bubbles are drawn coming off the earth making an 8 shape illustrating the waters abating.  If you think of the rhyme, waters abate in chapter 8, it will help you associate them together.</p>
<p>The two circles of the big 8 are made into the two birds that Noah sent out. The raven 1st, on the top and the dove last, on the bottom.</p>
<p>The book highlight is heaven &amp; earth so they are drawn as the earth with bubbles because this is what was happening to the earth in this chapter.</p>
{% include picture-page-footer.html %}
