---
layout: default
title: Bible Rich | Genesis 45
image_path: /img/bible-highlights/genesis/chapter-45.png
image_alt: Genesis 45
audio_mp3_path: /audio/bible-highlights/genesis/chapter-45.mp3
audio_wav_path: /audio/bible-highlights/genesis/chapter-45.wav
next_page: /bible-highlights/genesis/chapter-46.html
prev_page: /bible-highlights/genesis/chapter-44.html
---
<h1>Genesis 45</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p>The big 4 is Pharaoh’s throne and the heaven &amp; earth placed under it because he was the major ruler of the earth.</p>
<p>One way to remember 45 is to think of the long “i” sound in 5 and the long “i” sound in “I” am Joseph. This can also help you remember Joseph’s sons are “ME” (Manasseh &amp; Ephraim) because Joseph even says “I” in this chapter as a big part of his revealing himself to his brothers. So you can put the “I” and “ME” together and say the one who says “I” am Joseph has “ME.”</p>
<p>At the bottom of the big 5, Joseph’s arms are drawn to represent hugging &amp; kissing his brothers as Joseph is revealing himself to them.</p>
<p>The top of the big 5 is a map of the journey of the brothers back to Canaan to get Jacob and the families as Pharaoh commanded them to do.</p>
<p>To remember the amount Joseph gives Benjamin - 300 pieces of silver and 5 changes of clothes - think of the 3 &amp; 5 and put that together with Benjamin being born in chapter 35. This was another test to see if the brothers had really changed to true men or if they would get jealous of Benjamin on the way home. (Praise the Lord, again they pass the test!)</p>
{% include picture-page-footer.html %}
