---
layout: default
title: Bible Rich | Genesis 42
image_path: /img/bible-highlights/genesis/chapter-42.png
image_alt: Genesis 42
audio_mp3_path: /audio/bible-highlights/genesis/chapter-42.mp3
audio_wav_path: /audio/bible-highlights/genesis/chapter-42.wav
---
<h1>Genesis 42</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p>The big 4 is Pharaoh’s throne and the heaven &amp; earth placed under it because he was the major ruler of the earth.</p>
<p>There are 3 trips to Egypt that Jacob’s sons make in Genesis. The 1st and 2nd trip happen in the chapters that are 1 number apart going up the number line, using the 2 at the end of 42 and the 3 in 43 (1st is in 42 and the 2nd is in 43).</p>
<p>Chapter 42 is the only one where they go down and come back both, or 2 ways, in the same chapter. You can correlate the 2 way trip is in chapter 42.</p>
<p>The big 2 is made into a map of the trip to Egypt  that the 10 sons of Jacob take minus Joseph and Benjamin.</p>
<p>The top of the big 2 is Canaan with the famine.</p>
<p>The arrow going down the big 2 show the 10 sons going down to Egypt where Joseph calls them spies to test them.</p>
<p>Simeon is drawn in the bottom of the big 2, which is made into a prison, till they bring Benjamin back. The 2nd son born to Jacob was Simeon, so you can correlate this happens to the 2nd son, Simeon in the 42nd chapter (also it has many “s” words).</p>
<p>The arrow back up to the top of the 2 shows their trip back to Canaan and finding their money back in their bags that they had paid for the grain. When they tell Jacob about Simeon, Jacob says Benjamin can not go back down to Egypt with them, so the words “no” are put beside the name Jacob at the top of the big 2.</p>
{% include picture-page-footer.html %}
