---
layout: default
title: Bible Rich | Genesis 37
image_path: /img/bible-highlights/genesis/chapter-37.png
image_alt: Genesis 37
audio_mp3_path: /audio/bible-highlights/genesis/chapter-37.mp3
audio_wav_path: /audio/bible-highlights/genesis/chapter-37.wav
---
<h1>Genesis 37</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p>The big 7 is made into the coat of many colors that Jacob gave Joseph. The 7 and another 7 mirrored makes the shape of the coat. This is the 1st thing that happened to Joseph.</p>
<p>The 2nd thing that happens to Joseph is his 2 dreams, 2 thing &amp; 2 dream - so you can correlate this together also.</p>
<p>The top of the big 3 has Joseph’s sheaf on the left that the 11 sheaves in the inside of the circle bow down to (in his 1st dream); and the sun, moon &amp; 11 stars are on the outside of the circle that bow down to him (in his 2nd dream).</p>
<p>The bottom of the big 3 is the pit that Joseph was cast into, and then the circle arrow illustrates Joseph being cast out into the world or earth, going to Egypt.</p>
<p>It is easy to remember this chapter if you think 3 things happen to Joseph at age 17, for the 3 and the 7 of 37.</p>
<p>The book highlight is heaven &amp; earth so they are placed by the arrow at the bottom of the 3 because Joseph was taken to Egypt, a worldly place on the earth.</p>
{% include picture-page-footer.html %}
