---
layout: default
title: Bible Rich | Genesis 26
image_path: /img/bible-highlights/genesis/chapter-26.png
image_alt: Genesis 26
audio_mp3_path: /audio/bible-highlights/genesis/chapter-26.mp3
audio_wav_path: /audio/bible-highlights/genesis/chapter-26.wav
---
<h1>Genesis 26</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p>The stars at the top represents the promise God made to Isaac that his seed shall multiply as the stars.</p>
<p>This chapter is the 4th of at least 5 Genesis chapters that prophesy that Jesus (the line of these patriarchs) would bless all people of the earth. On the bottom left, the highlight of the heaven &amp; earth is drawn with the little 2 top part, for chapter 26, made into a seed with an arrow pointing down to the man in the bottom of the 2 to represent in the seed of Abraham, or you can think of the little man as being Jesus, the seed of Abraham, and the arrow pointing down to the earth represents that in this seed shall all the nations of the earth be blessed. The little 6 for chapter 26 is made into a hand over the earth to also represent Abraham’s seed blessing all the nations of the earth.</p>
<p>Isaac says Rebekah is his sister with Abimelech, a 2nd king of Gerar. The big 2 is made into Rebekah and her skirt flowing at the bottom of the 2, to remember this is where Isaac says his wife is his sister. The 2 you can also think of as the 2nd generation to tell a king this, and the 6 for man’s way of thinking, and he was created on day 6.</p>
<p>The backwards curve of a 2 is in the shape of an S, so you can also associate</p>
<p>s</p>
<p>eed,</p>
<p>s</p>
<p>tars,</p>
<p>s</p>
<p>ister, and</p>
<p>s</p>
<p>ix together for this chapter.</p>
<p>A shovel is drawn to represent digging a well at the top of the big 6 and at the bottom of the 6 is a reserve of water in the well. This represents all the wells Isaac dug in this chapter.</p>
<p>At the bottom right, you can think of for the little 2 as Esau took 2 heathen wives which was a grief to his parents.</p>
<p>You can think of the little 6 as the water in the well dripping out like they are crying to represent “grief.” Another little 2 is drawn into a lady to represent these</p>
<p>wives and the little 6’s drawn beside them are made into tear drops to represent the grief. You can think of the 26th chapter of Genesis ending with a “th” and so do the 2 wives names - Judith &amp; Bashemath.</p>
<p>The heaven &amp; earth are also placed by the ‘well diggings’ because the wells were dug in the earth.</p>
{% include picture-page-footer.html %}
