---
layout: default
title: Bible Rich | Genesis 39
image_path: /img/bible-highlights/genesis/chapter-39.png
image_alt: Genesis 39
audio_mp3_path: /audio/bible-highlights/genesis/chapter-39.mp3
audio_wav_path: /audio/bible-highlights/genesis/chapter-39.wav
next_page: /bible-highlights/genesis/chapter-40.html
prev_page: /bible-highlights/genesis/chapter-38.html
---
<h1>Genesis 39</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p>Turn the 3 on its side and it becomes a “w,” which is for wife; turn the 9 backwards and it becomes a “P” for Potiphar; so you can have 39 stand for Wife of Potiphar.</p>
<p>The big 3 is made into the hands of Potiphar’s wife trying to grab Joseph.</p>
<p>In the bottom of the big 9 Joseph is running away as she got his garment, which is made out of the top of the big 9.</p>
<p>Wickedness also starts with a “w” which turned can be a 3 so you can easily put the phrase “How then can I do this great wickedness and sin against God” in chapter 39 with the 2 “w”s for <strong>w</strong>ife and <strong>w</strong>ickedness.</p>
<p>The heaven &amp; earth are placed by Potiphar’s wife because she was reaching for worldly, earthy lusts and passions.</p>
{% include picture-page-footer.html %}
