---
layout: default
title: Bible Rich | Genesis 13
image_path: /img/bible-highlights/genesis/chapter-13.png
image_alt: Genesis 13
audio_mp3_path: /audio/bible-highlights/genesis/chapter-13.mp3
audio_wav_path: /audio/bible-highlights/genesis/chapter-13.wav
next_page: /bible-highlights/genesis/chapter-14.html
prev_page: /bible-highlights/genesis/chapter-12.html
---
<h1>Genesis 13</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p>The big 3 is drawn like a map to show how Abram and Lot separate. From the middle of the big 3, Abram goes to Hebron and Lot goes east to Sodom.</p>
<p>The top of the big 1 goes out in the 4 directions of N,E,S,W like a compass to help illustrate look northward, southward, eastward, and westward - all the land which thou seest, to thee will I give it promise God gave to Abram after the separation.</p>
<p>At the bottom of the big 1 is dust to illustrate I will make thy seed as the dust of the earth promise He also gave him.</p>
<p>The book highlight is heaven &amp; earth so the heaven &amp; earth are placed by the N,E,S,W to show the land of the earth God promised Abram.</p>
{% include picture-page-footer.html %}
