---
layout: default
title: Bible Rich | Genesis 17
image_path: /img/bible-highlights/genesis/chapter-17.png
image_alt: Genesis 17
audio_mp3_path: /audio/bible-highlights/genesis/chapter-17.mp3
audio_wav_path: /audio/bible-highlights/genesis/chapter-17.wav
next_page: /bible-highlights/genesis/chapter-18.html
prev_page: /bible-highlights/genesis/chapter-16.html
---
<h1>Genesis 17</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p>If you put the 1 and 7 right next to each other they kind of look like the letter “n” for <strong>n</strong>ames and <strong>n</strong>ations.</p>
<p>Abram and Sarai are drawn at the top of the big 7 because God gave them new names, Abraham and Sarah.</p>
<p>He said they would be the father and mother of many nations, which is what the new names mean, so nations are written under them going down the big 7 to represent the generations of nations after them. They were given this promise at ages 99 &amp; 90 and Abraham laughed.</p>
<p>The big 1 is a knife because here was where the circumcision covenant started. If you add 17, 1 + 7 = 8, 8 is how many days old the sons had to be for circumcision.</p>
<p>The book highlight is heaven &amp; earth so they are placed by the ‘nations’ because there are nations on the earth.</p>
{% include picture-page-footer.html %}
