---
layout: default
title: Bible Rich | Twelve Tribes
image_path: /img/bible-highlights/genesis/chapter-30-12-tribes.png
image_alt: Twelve Tribes of Israel
next_page: /bible-highlights/genesis/chapter-31.html
prev_page: /bible-highlights/genesis/chapter-30.html
---
<h1>Twelve Tribes of Israel</h1>

{% include picture-page-header.html %}
{% include media.html %}

<p>The 12 tribes’ names, pictures and definitions are put together on this page so you can see them altogether. You can review each individual tribe and their definitions in the Quiz Yourself section.</p>
{% include picture-page-footer.html %}
