---
layout: default
title: Bible Rich | Genesis 43
image_path: /img/bible-highlights/genesis/chapter-43.png
image_alt: Genesis 43
audio_mp3_path: /audio/bible-highlights/genesis/chapter-43.mp3
audio_wav_path: /audio/bible-highlights/genesis/chapter-43.wav
next_page: /bible-highlights/genesis/chapter-44.html
prev_page: /bible-highlights/genesis/chapter-42.html
---
<h1>Genesis 43</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p>The big 4 is Pharaoh’s throne and the heaven &amp; earth placed under it because he was the major ruler of the earth.</p>
<p>There are 3 trips to Egypt that Jacob’s sons make in Genesis. Again, the 1st and 2nd trip happen in the chapters that are 1 number apart going up the number line, using the 2 at the end of 42 and the 3 in 43 (1st is in 42 and the 2nd is in 43). The 2nd trip starts in chapter 43, they brothers are still there in chapter 44, and at the end of chapter 45 they go back to Canaan to get their father. So the 2nd trip is a 3 chapter trip, that starts in chapter 43, which you can correlate.</p>
<p>The big 3 is made into a “B” for Benjamin (like it is drawn in Genesis 35) which is drawn in blue. Because of the famine and what the sons, Reuben earlier, and now Judah say about making sure they bring Benjamin back, Jacob finally sends Benjamin down to Egypt as Joseph had requested. The top of the big 3 shows a little map of this.</p>
<p>The right side of the big 3 is drawn with tears coming down because Joseph weeps when he sees Benjamin.</p>
<p>The bottom of the big 3 in chapter 43, is a plate that, at the dinner Joseph made for them, Benjamin receives 5 times more food than the other brothers (again, 5 is a number in Genesis 35 where Benjamin was born, so you can relate that, Benjamin gets 5 times more food, using the 3 to make the “B” for his name and the 5 for the amount of food he gets). This was a test for the brothers to see if they would get jealous of Benjamin, like they did him and his coat of many colors. (Praise the Lord, they did not get jealous.)</p>
{% include picture-page-footer.html %}
