---
layout: default
title: Bible Rich | Genesis 40
image_path: /img/bible-highlights/genesis/chapter-40.png
image_alt: Genesis 40
audio_mp3_path: /audio/bible-highlights/genesis/chapter-40.mp3
audio_wav_path: /audio/bible-highlights/genesis/chapter-40.wav
---
<h1>Genesis 40</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p>All the big 4’s in the 40’s of Genesis will be Pharaoh’s throne (like the one they carried him around on) because Joseph is under Pharaoh’s rule for all of the 40’s.</p>
<p>The heaven &amp; earth book highlight will be placed under the throne because Pharaoh was the major ruler of the earth at that time.</p>
<p>Chapter 40 you can remember by thinking of the 4 as Pharaoh’s throne and his butler and baker were suspected of a crime, they have dreams in prison, and Joseph</p>
<p>interprets them and it was the baker who was guilty. Bakers we usually think of as being larger, so the big 0 is made into a plump baker, also you can always remember the baker was the guilty one when you think of the big 0 plump baker.</p>
{% include picture-page-footer.html %}
