---
layout: default
title: Bible Rich | Genesis 33
image_path: /img/bible-highlights/genesis/chapter-33.png
image_alt: Genesis 33
audio_mp3_path: /audio/bible-highlights/genesis/chapter-33.mp3
audio_wav_path: /audio/bible-highlights/genesis/chapter-33.wav
next_page: /bible-highlights/genesis/chapter-34.html
prev_page: /bible-highlights/genesis/chapter-32.html
---
<h1>Genesis 33</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p>A 3 backwards looks like an E. The first letters of <strong>E</strong>sau <strong>E</strong>mbraces flipped around could then be 33.</p>
<p>The first big 3 are lips representing Esau kissing Jacob.</p>
<p>The second big 3 is Esau’s arms outstretched to embrace Jacob.</p>
<p>In this chapter, Esau goes to Seir and Jacob goes to Shechem (in the land of Canaan), spreads his tent there, and buys a field for 100 pieces of money. You can also think of these hands as paying money for this land.</p>
<p>The heaven &amp; earth are placed by Jacob’s name because the earth would be blessed through his line.</p>
{% include picture-page-footer.html %}
