---
layout: default
title: Bible Rich | Genesis 10
image_path: /img/bible-highlights/genesis/chapter-10.png
image_alt: Genesis 10
audio_mp3_path: /audio/bible-highlights/genesis/chapter-10.mp3
audio_wav_path: /audio/bible-highlights/genesis/chapter-10.wav
next_page: /bible-highlights/genesis/chapter-11.html
prev_page: /bible-highlights/genesis/chapter-09.html
---
<h1>Genesis 10</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p>Chapters 5 &amp; 10 have the big blocks of generations in them. If you think of your hands, one has 5 fingers and together they have 10, you can remember these chapters like you are counting the people or generations.</p>
<p>For easy remembrance think these chapters as chapter 5 has the first of the alphabet from A-N (for Adam to Noah) and Chapter 10 has the middle of the alphabet from N-P (from Noah to Peleg). Also alphabetically, “n” for Noah comes a little before “p” for Peleg when you say, generations from Noah to Peleg, for in his days was the earth divided.</p>
<p>Peleg means division. He was named this as a prophecy that the earth would divide during his lifetime and no longer be Pangaea, one land mass. You can think of the big 1 as a knife to divide the earth to help you remember this is the chapter where the earth was divided.</p>
<p>The big 0 is made into the divided earth. The water part of the earth can make you think of Noah in the flood, like in Genesis 5.</p>
<p>The little 10 on the bottom right is put together to make a bow and arrow illustrating Nimrod being a mighty hunter.</p>
<p>The book highlight is heaven &amp; earth so they are drawn in the big 0 because this is what the earth looked like in this chapter.</p>
{% include picture-page-footer.html %}
