---
layout: default
title: Bible Rich | Genesis 36
image_path: /img/bible-highlights/genesis/chapter-36.png
image_alt: Genesis 36
audio_mp3_path: /audio/bible-highlights/genesis/chapter-36.mp3
audio_wav_path: /audio/bible-highlights/genesis/chapter-36.wav
next_page: /bible-highlights/genesis/chapter-37.html
prev_page: /bible-highlights/genesis/chapter-35.html
---
<h1>Genesis 36</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p>The big 3 you can again think of as a backwards “E” for Esau (&amp;/or Edom).</p>
<p>The big 6 you can think of as a backwards ”d” for descendants.</p>
<p>The 3 &amp; 6 are colored red for Esau’s red hair.</p>
<p>The line at the 6 is going down or “descend”ing (for descendants) to his family circle containing familiar names such as Eliphaz &amp; Teman (mentioned in Job). He had dukes (so they were a type of royalty) and they were also called Edomites because Esau was Edom. The heaven &amp; earth are placed in the word ‘descendants’ because they were Esau’s descendant upon the earth.</p>
{% include picture-page-footer.html %}
