---
layout: default
title: Bible Rich | Genesis 38
image_path: /img/bible-highlights/genesis/chapter-38.png
image_alt: Genesis 38
audio_mp3_path: /audio/bible-highlights/genesis/chapter-38.mp3
audio_wav_path: /audio/bible-highlights/genesis/chapter-38.wav
---
<h1>Genesis 38</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p>On the 3 points of the big 3 are written Judah’s 3 sons (which are born in alphabetical order).</p>
<p>Tamar was married to the first son, Er, who was wicked (represented by a pitchfork that makes the shape of an E sideways for Er at the top of the big 3) and he died.</p>
<p>So Tamar was given to Onan, who spilled the seed (think of seeds being an “o” shape for Onan in the middle of the big 3) so she could not have children and then he died.</p>
<p>Judah did not give Sheila to Tamar (drawn with nothing beside his name, but Judah at the bottom of the big 3), so Tamar plays the harlot &amp; Judah (the “J” for Judah is drawn like it is laying down, sleeping) sleeps with Tamar not knowing who she was. Tamar was pregnant with his twins and Judah was going to have her killed because she was not married. Then Tamar shows Judah his signet, bracelets (illustrated by the little 8 for chapter 38 at the top made into 2 gold bracelets to help you remember) and staff, and Judah realizes he was the father.</p>
<p>The names of the twins were Pharez and Zarah who are represented by two babies drawn in the two circles of the big 8. The names are in alphabetical order also, although Zarah put his hand out first and the midwife tied a scarlet ribbon (also made into the shape of a red 8 to help you remember) on his hand, Pharez broke through 1st.  The heaven &amp; earth are placed by ‘Pharez’ because this is who the birthright (line of Jesus) went through to bless the earth.</p>
{% include picture-page-footer.html %}
