---
layout: default
title: Bible Rich | Genesis 7
image_path: /img/bible-highlights/genesis/chapter-07.png
image_alt: Genesis 7
audio_mp3_path: /audio/bible-highlights/genesis/chapter-07.mp3
audio_wav_path: /audio/bible-highlights/genesis/chapter-07.wav
next_page: /bible-highlights/genesis/chapter-08.html
prev_page: /bible-highlights/genesis/chapter-06.html
---
<h1>Genesis 7</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p>The bottom left 7 is made into a ramp to load the animals onto the ark. This will help you remember chapter seven is when the animals, and Noah and his family get on the ark. The 2 giraffes and 2 elephants are drawn to represent the unclean animal that went into the ark by 2s. The little 7 made for the ramp you can also think of for representing that 7 of each clean animal went into the ark.</p>
<p>The big 7 is drawn into an umbrella which is used when it rains.  Although it is not drawn, you can also think of the top of a 7 as a roof and the bottom of the 7 being the side of a house, which shelters you from rain to remember the rain and flood in chapter 7.</p>
<p>If you flip the big 7 sideways, it makes the same shape as an F for Flood.</p>
<p>7’s and 4’s go together in many of the chapters in the Bible &amp; is illustrated at the middle left of the page with the bottom of a 4 making a little 7 shape which can help you remember the 40 day flood is in Genesis 7.</p>
<p>A little 7 in the middle left is made into the side of the ark on a flooded, water world, illustrating the world being purified of sinners. 7 is said to be a perfect number so you can think the earth is purified in Genesis 7. Also you can think of the 7 for the clean (pure animals) and 7 for the 7 days they waited in the ark before the rain of the flood began to maybe purify their hearts for patience in the long time they would have to be in the ark, like James chapter 1 says, “let patience have her perfect work.”</p>
<p>The book highlight is heaven &amp; earth so they are drawn as the flooded earth because this is what the earth looked like in the flood in this chapter.</p>
{% include picture-page-footer.html %}
