---
layout: default
title: Bible Rich | Genesis 28
image_path: /img/bible-highlights/genesis/chapter-28.png
image_alt: Genesis 28
audio_mp3_path: /audio/bible-highlights/genesis/chapter-28.mp3
audio_wav_path: /audio/bible-highlights/genesis/chapter-28.wav
next_page: /bible-highlights/genesis/chapter-29.html
prev_page: /bible-highlights/genesis/chapter-27.html
---
<h1>Genesis 28</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p>The bottom of the big 2 is drawn into a rock for a pillow that Jacob is sleeping on.</p>
<p>The big 8 is made into the ladder that Jacob sees the angels ascend and descend.</p>
<p>Jacob wakes up and realizes this place is the house of God and the gate of heaven. Gate and 8 rhyme which can help you associate these together.</p>
<p>The dust at the bottom of the big 2 helps illustrate God’s promise to Jacob that the land where he lay shall be his and his seed shall be as the dust of the earth.</p>
<p>This chapter is the 5th of at least 5 Genesis chapters that prophesy that Jesus (the line of these patriarchs) would bless all people of the earth. On the middle left, the highlight of the heaven &amp; earth is drawn with the little 2 top part, for chapter 28, made into a seed with an arrow pointing down to the man in the bottom of the 2 to represent in the seed of Abraham, or you can think of the little man as being Jesus, the seed of Abraham, and the arrow pointing down to the earth represents that in this seed shall all the families of the earth be blessed. The little 8 for chapter 28 is made into hands over the earth to also represent Abraham’s seed blessing all the families of the earth.</p>
<p>The top of the big 2 is drawn into a compass showing the directions that God promises Jacob’s seed will go on the earth, so the book highlight, heaven &amp; earth, are also placed here.</p>
<p>At the bottom right, the little 2 is made into a man to represent Jacob saying of all that thou shalt give me I will surely give the tenth unto thee. The little 8 is made into 2 coins (like the coins of the 8th commandment - thou shalt not steal, to easily remember) to represent the tenth of all that God gives him he will give back to God.</p>
{% include picture-page-footer.html %}
