---
layout: default
title: Bible Rich | Genesis 4
image_path: /img/bible-highlights/genesis/chapter-04.png
image_alt: Genesis 4
audio_mp3_path: /audio/bible-highlights/genesis/chapter-04.mp3
audio_wav_path: /audio/bible-highlights/genesis/chapter-04.wav
next_page: /bible-highlights/genesis/chapter-05.html
prev_page: /bible-highlights/genesis/chapter-03.html
---
<h1>Genesis 4</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p>Cain’s arm is on the left side of the big 4 with a weapon drawn out of the bottom line to kill Abel which is drawn on the right side of the big 4 because Abel offered a lamb. The little 4 is made into a door with the word sin lying at the door. Door and 4 rhyme, so you can easily associate these together. Abel’s blood is crying out at the bottom of the 4.</p>
<p>Seth took Abel’s place for the birthright of Jesus to go through, so this is written at the right side of the page which is the side that Abel is drawn on.</p>
<p>These names and words have 4 letters which also helps you remember they are in this chapter. The book highlight is heaven &amp; earth so they are placed under ‘sin at the door’ because it shows that sin was on the earth at the 1st of the Bible.</p>
{% include picture-page-footer.html %}
