---
layout: default
title: Bible Rich | Genesis 24
image_path: /img/bible-highlights/genesis/chapter-24.png
image_alt: Genesis 24
audio_mp3_path: /audio/bible-highlights/genesis/chapter-24.mp3
audio_wav_path: /audio/bible-highlights/genesis/chapter-24.wav
next_page: /bible-highlights/genesis/chapter-25.html
prev_page: /bible-highlights/genesis/chapter-23.html
---
<h1>Genesis 24</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p>The big 2 is made into Rebekah with her skirt also flowing in the bottom of the 2.</p>
<p>The big 4 is made into the well that Rebekah draws the water from for Abraham’s servant and his camels, which answered his prayer.</p>
<p>Genesis 2:24 tells about marriage, that a man shall leave his father and mother, and shall cleave unto his wife: and they shall be 1 flesh. Genesis 24 is also about a marriage using the same numbers of the chapter and verse of Genesis 2, so it is easy to relate and remember the 2 together.</p>
<p>The book highlight is heaven &amp; earth so the earth is placed under Genesis 2:24 where God tells how marriage is between a man &amp; a woman on the earth.</p>
{% include picture-page-footer.html %}
