---
layout: default
title: Bible Rich | Genesis 50
image_path: /img/bible-highlights/genesis/chapter-50.png
image_alt: Genesis 50
audio_mp3_path: /audio/bible-highlights/genesis/chapter-50.mp3
audio_wav_path: /audio/bible-highlights/genesis/chapter-50.wav
next_page: /bible-highlights/exodus
prev_page: /bible-highlights/genesis/chapter-49.html
---
<h1>Genesis 50</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p>The top of the big 5 shows the journey from Egypt to Canaan to bury Jacob.</p>
<p>The bottom of the big 5 is drawn to show Jacob put in the cave in Canaan.</p>
<p>The big 0 is the O in Joseph’s name and is the 0 in the age he dies at 110 years. Also, Joseph tells them that they will come “Out” and to carry his bones “Out” with them (“O” for “out,” for the 0 in chapter 50), so you can relate all these zeros “0” and letter “O’s” are in chapter 50 with a 0.</p>
<p>You can also think of the 0 in 50 as the coffin Joseph is put inside in Egypt.</p>
<p>You can also remember where these 2 men were buried in this chapter by the second letter of their names are also in the second letters of the places they were buried. Jacob with the “a’s,” J<strong>a</strong>cob in a c<strong>a</strong>ve in C<strong>a</strong>naan, and Joseph with the “o’s,” J<strong>o</strong>seph in c<strong>o</strong>ffin (in maybe G<strong>o</strong>shen) in Egypt.</p>
<p>Of course Joseph’s bones will eventually be carried out of Egypt in Exodus 13 and buried in that cave in Canaan in Joshua 24. You can already start easily memorizing this and putting this together. The first numbers of a number line are 0, 1, 2, 3, 4, 5 and they are all used to tell about Joseph bones. Take the first and last numbers 0 and 5 for the prophecy of his bones being carried out in Genesis 50. Then use the other two odd number 1 and 3 for his bones being carried out of Egypt in Exodus 13. Then use the other two even numbers 2 and 4 for the chapter that tell that his bones were finally buried in the cave in Canaan.</p>
<p>The heaven &amp; earth book highlight is drawn beside the words ‘coffin’ because the coffin was in Egypt where God’s people were on the earth.</p>
