---
layout: default
title: Bible Rich | Genesis 47
image_path: /img/bible-highlights/genesis/chapter-47.png
image_alt: Genesis 47
audio_mp3_path: /audio/bible-highlights/genesis/chapter-47.mp3
audio_wav_path: /audio/bible-highlights/genesis/chapter-47.wav
next_page: /bible-highlights/genesis/chapter-48.html
prev_page: /bible-highlights/genesis/chapter-46.html
---
<h1>Genesis 47</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p>The big 4 is Pharaoh’s throne and the heaven &amp; earth placed under it because he was the major ruler of the earth.</p>
<p>On the big 7 is a map of Egypt.</p>
<p>On the very top left of the 7 is Jacob’s hand that is blessing Pharaoh when Jacob sees Pharaoh.</p>
<p>The rest of the top of the 7 is the border of Egypt with the Mediterranean Sea. The line going down of the 7 is the Nile river.</p>
<p>The land of Goshen that Pharaoh gave the Israelites is the delta near the top of the 7 with all the rivers running through it. Gosh<strong>en</strong> and sev<strong>en</strong> end the same for chapter 47. Also, think of “Goshen” as the place they were to “go shine” their Christlike characters to the Egyptians.</p>
<p>This map also represents the land that Joseph acquires for Pharaoh, so you can also think of the hand at the top of the map as Joseph’s hand gathering in the land for Pharaoh.</p>
<p>This chapter says that Jacob lived 17 years in Egypt and that he lived to be 147, so you can remember these 7’s are in chapter 47. You can correlate that Chapter 37 also has a 17 in it (Joseph’s age when the 3 things happened to him).</p>
<p>Joseph promised to bury Jacob in the cave in Canaan, so you can think of the 7 as an arrow to go up to Canaan and bury Jacob. (They actually do this is chapter 50.)</p>
{% include picture-page-footer.html %}
