---
layout: default
title: Bible Rich | Genesis 19
image_path: /img/bible-highlights/genesis/chapter-19.png
image_alt: Genesis 19
audio_mp3_path: /audio/bible-highlights/genesis/chapter-19.mp3
audio_wav_path: /audio/bible-highlights/genesis/chapter-19.wav
next_page: /bible-highlights/genesis/chapter-20.html
prev_page: /bible-highlights/genesis/chapter-18.html
---
<h1>Genesis 19</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p>In the top left little 19, the 1 is made into a man and the 9 is made into a shut eye to represent the 2 angels making the men of Sodom blind.</p>
<p>The big 1 is the fire and the big 9 is the brimstone (the balls of burning sulphur in the shape of a 9) raining down on Sodom and Gomorrah. Using the numbers of this chapter (1 and 9), for 911, you can think, this was a 911 burning disaster on the earth at that time.</p>
<p>In the little 19 on the bottom left, the little 9 is made into an eye to represent Lot’s wife looking back with her eyes at the city and the 1 is made into a light blue, clear looking lady to represent Lot’s wife turning into a pillar of salt.</p>
<p>In the little 19 at the top right, The 1 is made into a man to represent Lot getting drunk and the 9 made into a woman with child is drawn to represent Lot’s daughters that he sleeps with.</p>
<p>Wine and 9 rhyme. You can remember the 2 wine incidences of Genesis because they are in chapters 9 and 19 with the 9’s that rhyme with wine.</p>
<p>The daughters bare Moab and Benammi, which became the Moabites and the Ammonites.</p>
<p>The heaven &amp; earth are placed by the ‘911’ because this was a 911 burning disaster at this time on the earth.</p>
{% include picture-page-footer.html %}
