---
layout: default
title: Bible Rich | Genesis 18
image_path: /img/bible-highlights/genesis/chapter-18.png
image_alt: Genesis 18
audio_mp3_path: /audio/bible-highlights/genesis/chapter-18.mp3
audio_wav_path: /audio/bible-highlights/genesis/chapter-18.wav
next_page: /bible-highlights/genesis/chapter-19.html
prev_page: /bible-highlights/genesis/chapter-17.html
---
<h1>Genesis 18</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p>A 3 can be made on the right side of an 8, for the 3 strangers visit.</p>
<p>The big 1 is drawn into the Lord coming to Abraham. He is standing tall like a 1.</p>
<p>They ate is represented by the top circle of the big eight made into a plate of food. Ate sounds like 8 for the 8 in chapter 18.</p>
<p>The conversation to the left is what the visit was about and the “too” in “Is anything too hard for the Lord” can be an 18 - the t for the 1 and the oo for the 8 (2 o’s on top of each other).</p>
<p>This chapter is the 2nd of at least 5 Genesis chapters that prophesy that Jesus (the line of these patriarchs) would bless all people of the earth. The highlight of the heaven &amp; earth is drawn with a little 1, for chapter 18, made into a man to represent in Abraham, or you can think of the little man as being Jesus, and the little 8 for chapter 18 is made into hands over the earth blessing all the nations of the earth.</p>
<p>The O on the lower part of the big 8 represents the numbers that Abram asked the Lord not to destroy Sodom by - 50, 40, (45), 30, 20, 10 - pretty much by 10’s.</p>
<p>The book highlight is heaven &amp; earth so they are drawn under the phrase ‘is anything too hard for the Lord’ because God made heaven &amp; earth which was not too hard for God.</p>
{% include picture-page-footer.html %}
