---
layout: default
title: Bible Rich | Genesis 6
image_path: /img/bible-highlights/genesis/chapter-06.png
image_alt: Genesis 6
audio_mp3_path: /audio/bible-highlights/genesis/chapter-06.mp3
audio_wav_path: /audio/bible-highlights/genesis/chapter-06.wav
next_page: /bible-highlights/genesis/chapter-07.html
prev_page: /bible-highlights/genesis/chapter-05.html
---
<h1>Genesis 6</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p>At the top left, think 6+6=12, for the 12 in 120 years that Noah was given to build the ark.</p>
<p>Below that is a little 6 with a man on the side with an arrow pointing around the top of the 6 to his head to represent the thoughts of his heart with the bottom of the 6 made into a heart. The little 6 on the right of the heart is made into the picture of what we think is the worst sin,  commandment # 6 - not kill, with the sword for the top of the 6 and the bottom of the 6 for a man’s head that is being killed. This represents the word evil. Think of the bottom of the 6 going around to represent the word continually, so you can put this phrase easily in chapter 6.</p>
<p>At the bottom left, man was created on day 6, so the picture for creation day 6 is</p>
<p>used to represent that the corruption of man causing God to purify the earth with a flood is in chapter 6.</p>
<p>Sons of God, which would be Seth’s descendants, married daughters of men, which would be Cain’s descendants. These Bible text help us to understand this:</p>
<p>1 John 3:4 says we,  Christians, are called the sons of God.</p>
<p>2 Corinthians 6:14-18 says be ye not unequally yoked together with unbelievers . . . and ye shall be my sons &amp; daughters.</p>
<p>Matthew 5:9, 45 says peacemakers are called the children of God.</p>
<p>Matthew 22:30 says in the resurrection they (men) neither marry nor are given in marriage, but are as the angels of God in heaven. So, the sons of God can not be angels.</p>
<p>Genesis 24:3 Abraham says to his servant about Isaac, thou shalt not take a wife unto my son of the daughters of the Canaanites.</p>
<p>These marriages made man’s thoughts evil continually. The Bible teaches us not to be unequally yoked or it will cause corruption in His people and they will not be His sons &amp; daughters. These Bible text also help us to understand this:</p>
<p>Deuteronomy 7:1-4 which contain these words - neither shalt thou make marriages with them (the heathen),  . . . nor his daughter shalt thou take unto thy son, for they will turn away thy son from following me.</p>
<p>1 Kings 11:1-9 says Solomon’s heathen wives turned his heart from the Lord.</p>
<p>The big 6 in the middle is drawn into a hammer to represent Noah building the ark. Heart and ark kind of rhyme to help remember what is in this chapter.</p>
<p>The “b” in building is also in the shape of a 6, so you can associate these together.</p>
<p>The book highlight is heaven &amp; earth so they are placed by the word ‘men’ because man was created on the earth on day 6.</p>
{% include picture-page-footer.html %}
