---
layout: default
title: Bible Rich | Genesis 22
image_path: /img/bible-highlights/genesis/chapter-22.png
image_alt: Genesis 22
audio_mp3_path: /audio/bible-highlights/genesis/chapter-22.mp3
audio_wav_path: /audio/bible-highlights/genesis/chapter-22.wav
next_page: /bible-highlights/genesis/chapter-23.html
prev_page: /bible-highlights/genesis/chapter-21.html
---
<h1>Genesis 22</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p>The big 2’s are made into mountains to illustrate two go up Mt. Moriah to offer the sacrifice, then two come down the mountain because God provided himself a lamb for the sacrifice and it was not Isaac. You can easily remember it is Mt. Moriah that they go up in Genesis 22 if you think of the top of the 22 as making the top curves of an “m” for Moriah and also the words Mt. Moriah have 2 “M’s.” Abraham is saying to Isaac that God will provide himself a lamb for the burnt offering as they</p>
<p>are going up the mountain. Going down the mountain, Abraham is drawn calling the name of this place Jehovah-jireh for in the mount of the Lord it shall be seen (God will provide).</p>
<p>The stars and sand of sea to the right illustrate the promises that God gave to Abraham regarding how plenteous his seed would be. An easy way to remember where God says Abraham’s seed would be as the stars &amp; sand of the sea is to think of the 2 mountains as by the sea shore with the stars above.</p>
<p>This chapter is the 3rd of at least 5 Genesis chapters that prophesy that Jesus (the line of these patriarchs) would bless all people of the earth. On the bottom right, the highlight of the heaven &amp; earth is drawn with the 1st little 2 top part, for chapter 22, made into a seed with an arrow pointing down to the man in the bottom of the 2 to represent in the seed of Abraham, or you can think of the little man as being Jesus, the seed of Abraham, and the arrow pointing down to the earth represents that in this seed shall all the nations of the earth be blessed. The other little 2 for chapter 22 is made into hands over the earth to also represent Abraham’s seed blessing all the nations of the earth.</p>
<p>The heaven &amp; earth are placed beside Isaac’s name because he was going to continue to live and the Savior of the earth was still going to come through him.</p>
{% include picture-page-footer.html %}
