---
layout: default
title: Bible Rich | Genesis Organization
image_path: /img/bible-highlights/genesis/organization.png
image_alt: Genesis Organization
audio_mp3_path: /audio/bible-highlights/genesis/genesis-organization.mp3
audio_wav_path: /audio/bible-highlights/genesis/genesis-organization.wav
next_page: /bible-highlights/genesis/chapter-01.html
prev_page: /bible-highlights/genesis/index.html
---
<h1>Genesis Organization</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p>Genesis is organized in sequence of people that go in sets of chapters. The 50 chapters are divided into 5 sets of 10 chapters each, with the 1st set also being divided into 2 sets of 5 chapters each.</p>
<p>1. Chapters 1-5 are about <strong>Adam</strong>
<p>(grouped in red, for 1st blood shed which was Abel’s). Chapters 6-10 are about <strong>Noah</strong> (grouped in blue, for water to represent the flood). If you think of your hands, one has 5 fingers 1-5 (for Adam’s story) and the other hand with number fingers 6-10 (for Noah’s story), you can remember how these chapters are organized.</p>
<p>They are similar in the fact that the 4th chapter in each one is about their children. The 4th in Adam’s set is chapter 4 with his sons Cain and Abel. The 4th in Noah’s set is chapter 9 with his sons Seth, Ham, and Japheth. They are also similar in that the 5th chapters tell about generations. The 5th in Adam’s set is chapter 5 (generations from Adam to Noah) and the 5th in Noah’s set is chapter 10 (generations from Noah to Peleg).</p>
<p>2. The next set of 10, chapters 11-20 are the teens and pretty much have to do with <strong>Abraham &amp; Lot</strong> (grouped in green, for all the grass land travels Abraham did being called out, from Ur, to Haran, to all over Canaan, to Egypt, back to Canaan, and then to Gerar).</p>
<p>3. The next set of 10, chapters 21-30, are the twenties, so you can think of this set as the <strong>twins</strong>, Jacob &amp; Esau, from their parents (Isaac &amp; Rebekah, with Isaac being born in chapter 21) to Jacob’s sons born (in chapters 29 &amp; 30) with the twins being born right in the middle (chapter 25). Twenties &amp; twins sound similar (grouped in yellow to represent deception).</p>
<p>4. The next set of 10, chapters 31-40 are the thirties so you can think of this set as a
<strong>“time of trouble”</strong> (except for chapters 33 &amp; 36). Thirties &amp; “time of trouble” both have “t”s &amp; “r”s alike (grouped in pink, for woman being in half of the troubles that happen during this set).</p>
<p>5. The last set of 10, chapters 41-50, are the forties, so you can think of this set as the time God’s people are with
<strong>Pharaoh</strong>. Forties and Pharaoh start the same with the “f” sound (grouped in dark purple, for Pharaoh being royalty).</p>
<p>Note: punctuation &amp; grammar have been altered in order to emphasize where needed &amp; to make the chapter explanations more clear.</p>
{% include picture-page-footer.html %}
