---
layout: default
title: Bible Rich | Genesis
image_path: /img/bible-highlights/books/genesis.png
image_alt: Genesis
audio_mp3_path: /audio/bible-highlights/genesis/book-simple.mp3
audio_wav_path: /audio/bible-highlights/genesis/book-simple.wav
---
<h1>Genesis - Heaven And Earth</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p>“In the beginning God created the</p>
<p>heaven</p>
<p>and the</p>
<p>earth</p>
<p>.” 1:1 (the circle of the earth can be made into the circle of a G for Genesis)</p>
<p>(the curved line of the heaven can be made into the top line of the 5 for 50 chapters in Genesis and the circle of the earth can make the bottom circle of a 5 and the earth again you can think of as the 0 for the 50)</p>
{% include picture-page-footer.html %}
