---
layout: default
title: Bible Rich | Ecclesiastes
image_path: /img/bible-highlights/books/ecclesiastes.png
image_alt: Ecclesiastes
audio_mp3_path: /audio/bible-highlights/ecclesiastes/book-simple.mp3
audio_wav_path: /audio/bible-highlights/ecclesiastes/book-simple.wav
---
<h1>Ecclesiastes - Preacher Holding Mirror</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p>“</p>
<p>Vanity</p>
<p>of</p>
<p>vanities</p>
<p>, saith the</p>
<p>Preach</p>
<p>,</p>
<p>vanity</p>
<p>of</p>
<p>vanities</p>
<p>; all is</p>
<p>vanity</p>
<p>” 1:2</p>
<p>And a man with his mouth open with lines coming out represents Solomon, the preacher.</p>
<p>He is holding a mirror to represent</p>
<p>vanity</p>
<p>.</p>
<p>(the left side line of the preacher can make the left side of an E for Ecclesiastes and the top line going across of his hat, the bottom line going across of his chin, and the bottom line of his robe you can think of as the three lines going out of the E for Ecclesiastes)</p>
<p>(the left side line of the preacher you can think of as a 1 for 12 chapters in Ecclesiastes, and the top curved line of the mirror as the top of a 2, the line going down on the handle of the mirror for the middle part of the 2, and the bottom line going out of his voice as the bottom part of the 2 for the 2 in 12 chapters)</p>
{% include picture-page-footer.html %}
