---
layout: default
title: Bible Rich | Hebrews
image_path: /img/bible-highlights/books/hebrews.png
image_alt: Hebrews
audio_mp3_path: /audio/bible-highlights/hebrews/book-simple.mp3
audio_wav_path: /audio/bible-highlights/hebrews/book-simple.wav
next_page: /bible-highlights/james/
prev_page: /bible-highlights/philemon/
---
<h1>Hebrews - Cross &amp; Burnt Offering Altar</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p class='lead'>“Sacrifice and offering thou wouldest not, but a body hast thou prepared me; in burnt offerings and sacrifices for sin thou hast had no pleasure . . . He taketh away the first, that He may establish the second.” 10:5, 6, 9</p>
<p>Since Hebrews is written to the Hebrews to help them understand that their old system of sacrifices for their sins by bringing a lamb to be sacrificed and burnt with wood on the altar had now been done away with because the real Lamb was sacrificed on the wood of the cross, a cross and a burnt offering altar are used for the highlight for Hebrews.</p>
<p>You can think of Hebrews as “He” “brews” for “He” (Jesus) was “brew”ing up something good for them all those years on the burnt offering altar for the real thing on the cross, and also for “He” - Jesus on the cross, and “brews” - the burnt offering altar.</p>
<p>(the line going down on the cross can make the left side of an H for Hebrews, the left side line of the burnt offering altar can make the right side of the H and the line going across the cross can make the line going across the H in Hebrews)</p>
<p>(to remember there are 13 chapters in Hebrew you can think of the line going down of the cross as a 1 in the 13 for 13 chapters and the top of the fire can be made into the shape of a 3 for the 3 chapters in Hebrews)</p>
{% include picture-page-footer.html %}
