---
layout: default
title: Bible Rich | Haggai
image_path: /img/bible-highlights/books/haggai.png
image_alt: Haggai
audio_mp3_path: /audio/bible-highlights/haggai/book-detailed.mp3
audio_wav_path: /audio/bible-highlights/haggai/book-detailed.wav
next_page: /bible-highlights/zechariah/
prev_page: /bible-highlights/zephaniah/
---
<h1>Haggai - Earthly  Temple</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p class='lead'>“In the second year of Darius the king . . .  came the word of the LORD by Haggai the prophet unto Zerubbabel . . . governor of Judah, and to Joshua . . . the high priest . . .  the glory of this latter house shall be greater than of the former . . . and in this place will I give peace” 1:1, 2</p>
<p>Haggai and Zechariah are the 2 prophets who encouraged Zerubbabel and Joshua to continue rebuilding the temple and city of Jerusalem, they are even mentioned in Ezra 5:1.</p>
<p>(the left line of the holy &amp; most holy place part of the temple and the right line of the outer court can make the two outside lines of an H for Haggai and the top line of the holy place part of the temple can make the line going across for the H in Haggai)</p>
<p>(to remember there are 2 chapters in Haggai, remember the 2 parts of the temple that are drawn - 1. the holy &amp; most holy place and 2. the outer court)</p>
<p>(to remember there are 2 chapters in Haggai, remember Haggai is the first of the 2 prophets that are given messages from the Lord to encourage the 2 men - 1. Zerubbabel and 2. Joshua to rebuild Jerusalem and the temple for the 2 chapters in Haggai)</p>
<p>(also Haggai has 2 “g’s” for the 2 chapters in Haggai)</p>
{% include picture-page-footer.html %}
