---
layout: default
title: Bible Rich | Judges
image_path: /img/bible-highlights/books/judges.png
image_alt: Judges
audio_mp3_path: /audio/bible-highlights/judges/book-simple.mp3
audio_wav_path: /audio/bible-highlights/judges/book-simple.wav
next_page: /bible-highlights/ruth/
prev_page: /bible-highlights/joshua/
---
<h1>Judges - Black Robe</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p class='lead'>“Nevertheless the Lord raised up judges, which delivered them out of the hand of those that spoiled them.” 2:16</p>
<p>(the right side of the right sleeve makes a J for Judges)</p>
<p>(you can think of the 2 puffy sleeves of the robe for the 2 in 21 chapters of Judges and the 1 body part of the robe for the 1 in 21 chapters in Judges)</p>
{% include picture-page-footer.html %}
