---
layout: default
title: Bible Rich | Daniel 3
image_path: /img/bible-highlights/daniel/chapter-03.png
image_alt: Daniel 3
audio_html: <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/126727499&amp;color=ff6600&amp;auto_play=false&amp;show_artwork=false"></iframe>
next_page: /bible-highlights/daniel/chapter-04.html
prev_page: /bible-highlights/daniel/chapter-02-10-kingdoms.html
---

<h1 id="daniel-3">Daniel 3</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p>This is one of the easiest chapter highlights to memorize because the 3 worthies are in chapter 3.</p>
<p>The number 3 has 3 points, so the names of the 3 worthies are written at the 3 points of the 3 on
the right.</p>
<p>The 3 Hebrew men (Shadrach, Meshach, and Abednego) had to choose to obey the law of the king and bow to the golden statue at the sound of the music or obey God’s law (to not bow down to a statue) and be cast into the furnace. This is illustrated at the left.</p>
<p>The gold statue is drawn on the left with its dimensions of 60 cubits high by 6 cubits wide. That is about 90 feet high by 9 feet wide. Multiples of 3 are 3, 6, 9 etc. This can help you remember the
dimensions: in chapter 3 is the 60x6 cubit or 90x9 foot statue. Just think 3, 6, 9 to remember the size of the gold image.</p>
<p>Shadrach, Meshach, and Abednego are drawn standing and not bowing down to the statue (gold image) while all the other people are drawn bowing down at the sound of the music, illustrated by the music notes. The arrow drawn to the right of them is illustrating that they were thrown into the fiery furnace.</p>
<p>The bottom of the big 3 is made into the bottom of the furnace with fire pouring out. The top of the big 3 is made into the fire of the furnace. The 3 worthies and the Son of God are depicted not being burned.</p>
<p>The 2 arrows are drawn on each side of the 3 on the right to represent the 2 choices they had. The word “or” is written in the middle of the 2 paper and pen choices.</p>
<p>If you take the 3 and put it down to the left, it makes the letter “M” which we have drawn for the
“M” in Music. This should remind you that they had to bow at the sound of the music.</p>
<p>If you take the big 3 and lay it to the right, it makes a “W,” which we have drawn for the “W” in
Worthy. Remember that the 3 men chose the fiery furnace and became worthy.</p>
<p>This occurred in Babylon. The numbers for the size of the image, 60x6 cubits, are also in 606 B.C. which is when this occurred. Nebuchadnezzar almost made and enforced a law against God which would have made him like
the 666 man of Revelation 13. But after God saved the 3 worthies, Nebuchadnezzar did not
enforce the law.</p>

{% include picture-page-footer.html %}
