---
layout: default
title: Bible Rich | Daniel 4
image_path: /img/bible-highlights/daniel/chapter-04.png
image_alt: Daniel 4
audio_html: <a href="http://yourlisten.com/xonev_tw/daniel-chapter-4" id="yl17058904">Embed Music - Download Audio - Daniel Chapter 4</a><script src="http://yourlisten.com/embed.js?17058904" type="text/javascript" async></script>
next_page: /bible-highlights/daniel/chapter-05.html
prev_page: /bible-highlights/daniel/chapter-03.html
---

<h1 id="daniel-4">Daniel 4</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p>The big 4 is made into a tree, with the line at the bottom of the 4 as the trunk and the top of the 4
as branches and leaves on the tree. A knife is drawn across the bottom line of the big 4 to show that the tree was cut down in Nebuchadnezzar’s dream.</p>
<p>The bottom of the 4 makes a 7, so you can think of this 7 as representing the 7 “times” that are
prophesied would pass over him. 7’s and 4’s go together in many chapters of the Bible.
The 7 suns going over the big 4 (tree) represent the 7 years (7 times) that king Nebuchadnezzar
did not rule. The Jewish Historian Josephus says that Nebuchadnezzar did not rule for 7 years. Therefore a
“time” equals a “year” in Bible prophecy. A clue to remember this is that a “time,” a “year,” and “tree” all have 4 letters in them.</p>
<p>The sun was created on day 4 and we correlate a sun to mean a day, or time. Coincidentally, several chapters with a 4 in them explain “a time, a day, and a year” (Numbers 14, Ezekiel 4, and this chapter -- Daniel 4). The script and feather pen surround "till 7 times pass over him" to help you remember that God said it.</p>
{% include picture-page-footer.html %}
