---
layout: default
title: Bible Rich | Daniel 11
image_path: /img/bible-highlights/daniel/chapter-11.png
image_alt: Daniel 11
audio_html: <a href="http://yourlisten.com/xonev_tw/daniel-chapter-11" id="yl17058914">Listen Music Files - Audio Hosting - Daniel Chapter 11</a><script src="http://yourlisten.com/embed.js?17058914" type="text/javascript" async></script>
next_page: /bible-highlights/daniel/chapter-12.html
prev_page: /bible-highlights/daniel/chapter-10.html
---

<h1 id="daniel-11">Daniel 11</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p>This chapter contains the first part of Daniel's vision of future events. The vision begins with Cyrus, the Persian king, and continues with the first king of Greece, the four divisions of Greece, Rome (the king of the North), Rome's battles with Egypt (the king of the South), and the fall of Rome. To recall that this chapter contains the angel relating details about the future to Daniel, a reminder is surrounded by paper and feather pen.</p>
<p>The first 1 of the big eleven is drawn as the king of the North. The second 1 of the big eleven is drawn as the king of the South.</p>
<p>To remember that chapter eleven contains more detail about the future that had been presented to Daniel previously, an 11 drawn as two small upward arrows is drawn above "Future" at the top left of the picture. To remember that the prophecy in this chapter ends with the fall of the king of the North, another 11 is drawn as two small downward arrows just above the drawing of the king of the North.</p>
<p>Part of the prophecy about the king in the South is a prophecy about Cleopatra in verse 17. Cleopatra was the last pharoah of Egypt, and was of the Greek general Ptolemy's lineage. By 51 B.C. all of the Greek generals had given over to Roman rule except for Ptolemy's kingdom in the South. Verse 17 states, "He shall give him the daughter of women, corrupting her." Cleopatra was the daughter of Ptolemy Auletes and the mistress of Julius Caesar -- Caesar corrupted her, fathering a son by her. To remember all of this, Cleopatra is drawn to the bottom right in the same position as the harlot from the seventh commandment (which is to not commit adultery), sitting upon the 7, which is drawn as a map of Egypt. The 1 of the seventeen is drawn into a downwards arrow to remind you she was the leader of the southern kingom.</p>
<p>The verse also says, "But she shall not stand on his side, neither be for him." This occurred after the assassination of Julius Caesar when she joined with Marc Antony and opposed Rome.</p>
<p>This chapter prophesies that the northern kingdom will break the prince of the convenant.  A reminder of this is drawn at the bottom left. The two 1s of the eleven are drawn as two pieces of a broken stick. Another 11 is drawn to represent the prince of the convenant, Jesus. We know that the king of the North was Rome because they are the kingdom which killed Jesus.</p>
{% include picture-page-footer.html %}
