---
layout: default
title: Bible Rich | Daniel 2 - 10 kingdoms
image_path: /img/bible-highlights/daniel/chapter-02-10-kingdoms.png
image_alt: Daniel 2 - 10 kingdoms
next_page: /bible-highlights/daniel/chapter-03.html
prev_page: /bible-highlights/daniel/chapter-02.html
---
<h1 id="daniel-2-10-kingdoms">Daniel 2 - 10 kingdoms</h1>

{% include picture-page-header.html %}
{% include media.html %}

<p>To help you memorize the 10 kingdoms we have 2 little picture-stories for the 2 feet, one to go with the first 5 toes, or 5 kingdoms (in alphabetical order, A-H) and one to go with the last 5 toes, or 5 kingdoms (L-V). The name of the kingdom is given first, then its modern name, and then the story is to the right of the bold hyphen.</p>
<h2 id="left-foot-toes">Left Foot Toes</h2>
<p>The first picture-story is “A man listening to an angled saxophone eating burgers and franks with
her.”</p>
<p>The man represents Alamanni, who populated Germany. The word “man” can be found within Alamanni and Germany.</p>
<p>The angled saxophone represents Anglo-Saxons, who populated England. The first letters of the two words “angled saxophone” (angl, saxo) are the same as Anglo-Saxons.</p>
<p>The “burgers” represent Burgundians, who became the people of Switzerland. <em>Burgundians</em> and <em>burgers</em> start with “burg.” The “B,” for Burgundian, is laying down to represent mountains -- this should help you remember Switzerland.</p>
<p>The “franks” represent Franks, who populated France.</p>
<p>The “her” represents the Heruli who were part of Italy. You can think of her “hair” because Heruli is pronounced Hair-you-lie. Heruli was part of Italy. To remember that the Heruli were part of Italy, notice that they both have an “l” as the second to last letter in their names.</p>
<h2 id="right-foot-toes">Right Foot Toes</h2>
<p>The last picture-story (L-V kingdoms) is “Some lumber, ostrich cloth, and suede were taken in a
van by a vandal wearing a vision cloth.”</p>
<p>The lumber represents the Lombards who were a Germanic tribe that ruled in Italy. Lombard sounds like “lumber.” To remember that the Lombards were in Italy, notice that Lombard starts with an “L” and Italy has an “L” near the end. Also notice that Italy starts with an “I” which looks similar to “L.”</p>
<p>Ostrich cloth represents the Ostrogoths who lived in part of Italy/Austria. The word <em>Ostrogoths</em> sounds like “ostrich cloth.”</p>
<p>Suede represents the Suevi, who populated Portugal. The first part of the word “suede” sounds like Suevi. To remember the Suevi lived in Portugal, relate the “S” in Suevi to “See” and “Sea.” Then remember you can “See” the “Sea” in Portugal.</p>
<p>The vandal in a van represents the Vandals, who ruled in North Africa. Notice that Vandal and Africa both have 2 “a’s” in them.</p>
<p>Vision cloth represents the Visigoths, who ruled in Spain. Visigoth sounds like “vision cloth,” meaning a mask with holes for the eyes. To remember that the Visigoths were in Spain, note that you could see the sea with a vision cloth.</p>
<p>To get a view of the first letters of the 10 kingdom names, they are: A-A-B-F-H, L-O-S-V-
V. You can think of the 2 AA’s at the beginning and the 2 VV’s at the end. The V’s look like upside down A’s. Also, the second group’s first three letters spell out LOS which sounds like LOST -- some people LOST their things (Lumber, Ostrich Cloth, and Suede) when the vandal took them.</p>
<p>To remember these stories go with the toes in chapter 2, the script paper and feather pen
are included in the picture.</p>

{% include picture-page-footer.html %}
