---
layout: default
title: Bible Rich | Daniel 10
image_path: /img/bible-highlights/daniel/chapter-10.png
image_alt: Daniel 10
next_page: /bible-highlights/daniel/chapter-11.html
prev_page: /bible-highlights/daniel/chapter-09.html
---

<h1 id="daniel-10">Daniel 10</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p>This chapter contains Daniel's fast, and an angel coming down to earth to show Daniel another vision.</p>
<p>Daniel's fast is represented at the bottom left of the image.  The 1 is made into an image of Daniel to remind you that he ate a simple diet with no pleasant food for three weeks (much like in chapter one, which uses the same image). You can think of the 0 as three things: first, it can remind you that he had zero pleasant food. Next, it can remind you that he had zero breath and strength when he saw the vision.</p>
<p>The angel coming down to give Daniel a vision is represented by the big 10 in the middle of the picture. The angel only came after being withheld by the king of Persia for twenty-one days (the three weeks of Daniel's fast). The angel was only able to come after Michael came and gave the angel help.</p>
<p>To remind you of this, the king of Persia, Cyrus, is drawn as the 1 in the ten.  The 0 is drawn as Michael helping the angel. Michael is the archangel, or Daniel's prince, Jesus.</p>
<p>The prophecy that the angel delivers to Daniel is delivered in the next two chapters -- eleven and twelve. A reminder for this is drawn at the bottom right. You can think of the chapter numbers (10, 11, 12) and their last digits (0, 1, 2) to remember what is contained in each chapter. Chapter ten contains 0 parts of the prophecy, chapter eleven contains the 1st part of the prophecy, and chapter twelve contains the 2nd part of the prophecy.</p>
<p>Another way to remember what this chapter is about is found on the right of the picture. The mnemonic requires counting down from three to zero. The three is for Daniels three week fast, the two and one are for the 21 days of the king of Persia withstanding the angel, and the zero is for Daniel's fast with zero pleasant food. Since you're counting down, you can think of this chapter that the angel comes down to give the prophecy, and that Daniel had no strength and fell down.</p>
{% include picture-page-footer.html %}
