---
layout: default
title: Bible Rich | Daniel 5
image_path: /img/bible-highlights/daniel/chapter-05.png
image_alt: Daniel 5
audio_html: <a  href="http://yourlisten.com/xonev_tw/daniel-chapter-5" id="yl17058905">Embed Music Files - Free Audio - Daniel Chapter 5</a><script src="http://yourlisten.com/embed.js?17058905" type="text/javascript" async></script>
next_page: /bible-highlights/daniel/chapter-06.html
prev_page: /bible-highlights/daniel/chapter-04.html
---

<h1 id="daniel-5">Daniel 5</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p>The big 5 is drawn as a goblet to represent the Lord’s vessels that Belshazzar drank out of at the banquet. The top of the big 5 is where the wine is, and the bottom is the stem. The banquet night is the night Medo-Persia conquered Babylon.</p>
<p>Medo-Persia defeated Babylon in 538 B.C. You can remember this year by remembering it happened in Daniel chapter 5 at Belshazzar’s banquet for the 5 in 538 B.C.
To remember the 3 in 538 B.C., think of the 3 turned down for the “w” in wine that they drank in the Lord’s vessels. The 3 also makes lips through which they drank the wine. Recall that they ate (8) food with their lips at the banquet to remember the 8 in 538 B.C.</p>
<p>The script paper and feather pen surround the fingers writing of impending doom on the wall. The fingers are made into a 5 to help you remember it is in chapter 5.
The fingers wrote "MENE, MENE, TEKEL, UPHARSIN," which means "Numbered, weighed and wanting, divided." To help you remember what they mean, here are some clues.</p>
<p>MENE means "numbered." Both "MENE" and "numbered" contain an “m” and an “n” but in switched places.</p>
<p>TEKEL means “weighed and wanting.” TEKEL starts with a “T,” “weighed and wanting” started with a “W” and “weighed” sounds like an “a” in the middle and “wanting” has an “a” in the middle. This makes the combination of “TWA” representing TEKEL- weighed and wanting. Since TWA was a well known airline and stands for Trans World Airlines, you can think that fingers “Trans”ported to our “World” and appeared in thin “Air” and wrote some “lines,” to correlate TWA with the writing on the wall definition.</p>
<p>UPHARSIN and PERES (the root of upharsin) mean "divided," indicating that they would be given over to the Medes and Persians. The opposite of divided is united. Because UPHARSIN and United start with a “U,” think of the phrase, “United we stand, divided we fall.” When you say the phrase it will get you to the word “divided,” which is the definition of UPHARSIN.</p>
{% include picture-page-footer.html %}
