---
layout: default
title: Bible Rich | Daniel 8
image_path: /img/bible-highlights/daniel/chapter-08.png
image_alt: Daniel 8
audio_html: <a href="http://yourlisten.com/xonev_tw/daniel-chapter-8" id="yl17058916">Download Music - Free Audio - Daniel Chapter 8</a><script src="http://yourlisten.com/embed.js?17058916" type="text/javascript" async></script>
next_page: /bible-highlights/daniel/greek-generals.html
prev_page: /bible-highlights/daniel/chapter-07.html
---

<h1 id="daniel-8">Daniel 8</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p>In this chapter, God uses the symbolism of clean animals, and mentions the cleansing of the sanctuary.</p>
<p>This vision skips Babylon and instead begins with Medo-Persia, which conquered Babylon in 538 B.C. Medo-Persia is represented by a ram. The Ram is drawn as the top circle of the big 8. Medo-Persia became great, so this is written to the right of the 8.</p>
<h2 id="the-ram">The Ram</h2>
<p>The ram had 2 horns; one higher than the other. The horns represent the kings of Media and Persia, as mentioned in verse 20. The higher horn represents Persia, because Persia eventually became the stronger part of the kingdom. You can recall this with the mnemonic "Persia pushed higher," which employs two "p"s. Also recall that the bear in Daniel 7 was lop-sided. </p>
<p>The ram pushed in three directions, as the bear of Daniel 7 had 3 ribs in its mouth. This represents conquering Babylon to the west, Lydia to the north, and Egypt to the south. Recall the acronym "BEL" again to remember a "bell" hung around the ram's neck. The map below shows the direction Medo-Persia would have gone to conquer these nations.</p>
<p><img class='img-polaroid' alt="map of Medo-Persia conquering" src="/img/bible-highlights/daniel/medo-persia-ram-map.png" /></p>
<h2 id="the-goat">The Goat</h2>
<p>Greece overtook Medo-Persia in 331 B.C. It is represented in this chapter by a goat. The goat is drawn as the bottom circle of the big 8. Greece became very great -- it conquered even more territory than Medo-Persia. "Very great" is written to the left of the goat.</p>
<p>The horn between the goat's eyes represented Alexandar the Great, the first king of Greece, as is mentioned in verse 21. Greece conquered very quickly, which is symbolized by the goat moving without touching the ground. Greece conquered from the west, as the goat came from the west. This is shown in the map below.</p>
<p><img class='img-polaroid' alt="map of Greece conquering" src="/img/bible-highlights/daniel/greece-goat-map.png" /></p>
<h2 id="the-four-horns">The Four Horns</h2>
<p>The great horn of the goat broke, and up sprang four horns to the four winds.  These represent Alexander's four generals: Cassander in the west, Lysimachus in the north, Seleucus in the east, and Ptolemy in the south. Four smaller horns, labeled N, S, E, and W are drawn around the goat's head to represent the four winds. You can go <a href="/bible-highlights/daniel/greek-generals.html">to this story</a> to memorize these names.</p>
<h2 id="the-little-horn">The Little Horn</h2>
<p>Out of one of the four horns, a little horn sprung forth. This represents Rome conquering Macedonia, which is in the northern Greek kingdom, in 168 A.D. Little does not necessarily mean weak in the Bible. In fact, Matthew 5:19 says that whoever shall break God's law and teach others to do so is called least, even though they may be powerful in this world.</p>
<p>The little horn is drawn at the bottom left. Rome waxed exceeding great -- even greater than Greece, extending as far as the Atlantic Ocean.</p>
<p>The little horn magnified himself to the prince of hosts. This represents the crucifixion of the Creator. Two little eights are drawn to represent the little horn magnifying itself to the prince of hosts and standing up against the prince of princes. The top of the first 8 is a magnifying glass. The bottom of the first 8 is Jesus. To the right of the first eight, stars are drawn to represent the host of creation. The top of the second 8 is Jesus. The bottom of the second 8 represents other princes. The little horn is drawn standing up.</p>
<p>The little horn goes to the south, to the east, and to the pleasant land. These correspond to the lands of Africa, Greece, and Judea, respectively. This is represented on the map below.</p>
<p><img class='img-polaroid' alt="map of Rome conquering" src="/img/bible-highlights/daniel/rome-horn-map.png" /></p>
<h2 id="the-time-prophecy">The Time Prophecy</h2>
<p>The time prophecy reminders are drawn to the right. The 2300 days is the only time prophecy with two zeros in it. These zeros are drawn into an 8 to recall that its in chapter 8. The 8 of 8:14 (the chapter and verse of the prophecy) is drawn as soap bubbles to represent the sanctuary being "cleansed." We can remember that this occurred in 1844 by taking the chapter and verse together (814), flipping the 8 and 1 (184) and doubling the 4 to get 1844.</p>
{% include picture-page-footer.html %}
