---
layout: default
title: Bible Rich | Daniel 2
image_path: /img/bible-highlights/daniel/chapter-02.png
image_alt: Daniel 2
next_page: /bible-highlights/hosea
prev_page: /bible-highlights/daniel/chapter-01.html
---

<h1 id="daniel-2">Daniel 2</h1>

{% include picture-page-header.html %}
{% include media.html %}
<h2 id="the-image">The Image</h2>
<p>The big 2 is the great image that Nebuchadnezzar saw in his dream. The circle at the bottom of the big 2 is the stone that comes and hits the feet of the image and breaks it. God tells Nebuchadnezzar through Daniel that he (and his great kingdom of Babylon) is the head of gold and that the kingdoms after him will be less than his.</p>
<p>To help remember the metal names, just remember that they are ordered from most precious to least precious from head to toe.</p>
<ul>
<li>gold - head</li>
<li>silver - breast and arms</li>
<li>brass - belly &amp; thighs</li>
<li>iron - legs</li>
<li>iron and clay - the feet and toes</li>
</ul>
<h2 id="babylon">Babylon</h2>
<p>The head of gold represented Babylon. A baby babbles with their mouth, Babel means different languages (spoken with the mouth), and a mouth is in the head, so you can remember the head represented Babylon. The Babylonian kingdom was known for all the gold it used, so the golden head depicts this. Golden is a good description of the Babylonian kingdom. God even describes it in Isaiah 13:19 as, “Babylon, the glory of the kingdoms, the beauty of the Chaldees’ excellency.” It was a golden kingdom in a golden age.</p>
<p>Beside the head of gold is written, “mind for God.” You can think of the Babylonian kingdom as a head because the Babylonian king, Nebuchadnezzar, had a mind for God. First, he put Daniel, Hananiah, Mishael, and Azariah in high positions after letting them eat their godly way in chapter 1. Second, he respected Hananiah, Mishael, and Azariah’s God after they were not burned in the fiery furnace in chapter 3. Third, he had a conversion experience after God removed him from his kingdom for 7 years in chapter 4. Nebuchadnezzar even wrote chapter 4, and God found it worthy to be included in the Bible.</p>
<p>To the right is the date of the start of Babylon’s rule.</p>
<p><em>Note - The beginning dates of kingdoms vary slightly from historian to historian. To easily remember what date a kingdom began, we used historical dates that easily relate to clues.</em></p>
<p>We have Babylon starting in 606 B.C. In Chapter 3 of Daniel, Nebuchadnezzar almost made Babylon the “666” beast by making the three Hebrew men worship his idol. Think of Babylon as almost 666 -- 606 -- with one six missing.</p>
<h2 id="medo-persia">Medo Persia</h2>
<p>At the left, the silver breast and arms were Medo-Persia. You can pet your arms and think of petting a medium Persian cat. Medo for medium and Persian for Persia. The Medo-Persian kingdom was known for all its silver -- the silver breast and arms depicts this. Silver is a good description for the Medo-Persian kingdom because it was inferior to the golden Babylonian kingdom in wealth, luxury, and magnificence.</p>
<p>Beside the silver breast and arms is written, “moved God’s people back.” You can think of the Medo-Persian kingdom as breast and arms for God: it takes breasts and arms to move
something, and the kings of Persia were used by God to decree that all Jews could move back to their homeland and build Jerusalem. It takes breasts and arms to write a decree.</p>
<p>To the right, you can think of Daniel 5 at Belshazzar’s banquet for the 5 in 538 B.C. because this is the night Medo-Persia conquered Babylon. At the banquet they had wine, so the 3 turned on its side represents the “w” in wine. The Babylonians drank wine from the Lord’s vessels. You can think of a 3 as forming lips (like in commandment 3) which they drank the wine through. They also ate (8) with their lips. At the banquet they ate food -- “ate” and “8” sound the same for the 8 in 538 B.C. The B.C. can represent the “b and q” in banquet.</p>
<h2 id="greece">Greece</h2>
<p>At the left, the brass belly &amp; thighs represent Greece. To remember this, you can think that people “grease” their belly and thighs to get a brass (bronze) tan. The Grecian kingdom was known for all the brass it used, so the brass belly and thighs depict this. Brass is a good description for the Grecian kingdom because it was inferior to the silver Medo-Persian kingdom in wealth, luxury, and magnificence.</p>
<p>Beside the belly and thighs is written, “gave God belly ache.” You can think of Greece as giving God a belly ache because of the Greek mythology and gods they brought in. One of the Greek Seleucid kings, Antiochus Epiphanies, even attempted to introduce pagan rites in Jerusalem.</p>
<p>To the right, see that Greece began in 331 B.C. Greece is the 3rd kingdom, so this is your first clue. Greece has double <em>e</em>s and backwards cursive capital <em>E</em>s look like the 33 in 331 B.C. You can also remember the double letters in belly and brass.
To remember the 1 in 331 B.C., remember the number 1 conqueror of fame came from Greece -- Alexander the Great.</p>
<h2 id="rome">Rome</h2>
<p>At the left, Rome is the iron legs. You can remember this by thinking it takes legs to roam around. The Roman kingdom was known for all the iron it used, so the iron legs depict this. Iron is a good description for the Roman kingdom because it was a very strong and resilient kingdom. In fact, a remnant of this iron kingdom, which is broken up into iron and clay, continues until the end of time.</p>
<p>Beside the iron legs is written, “moved on God’s Son.” You can think of Rome as having these iron legs that moved on God’s Son, Jesus, and killed him on the cross. The Roman ruler, Pilate, did not want to have Jesus killed. It was the Jewish leaders who actually provoked the killing of Jesus. Therefore you can remember that the Roman kingdom is the legs, which are not as low as the feet.</p>
<p>To the right, see that Rome began in 168 B.C. The Roman soldiers actually killed Jesus so you can think of them as 666. The number 666 is hidden in the number 168 B.C. if you take the top circle of the 8 and put it on the bottom of the 1.</p>
<h2 id="divided-kingdoms">Divided Kingdoms</h2>
<p>Iron and clay is a good description for the divided Roman kingdom because it is a partly strong and partly weak kingdom. The divided kingdom is still strong in the sense that they are nations that will exist until the stone strikes; yet the divided kingdom is weak since its unable to unite.</p>
<p>Beside the feet and toes of iron and clay is written, “trampled on God’s people.” When Rome divided and was ruled by the papacy, it trampled on God’s people through its inquisitions and persecutions. This kingdom desired to kill some of God’s people for many years, so you can think of it at the lowest point in the statue -- the feet.</p>
<p>At the right, see that the Roman kingdom was divided into 10 separate kingdoms in 476 A.D. Remember, feet have 10 toes and 10 kingdoms came out of Rome. They are listed on the bottom left. A story and clues to remember the 10 kingdoms is on the next picture page.</p>
<p>To remember 476 A.D., think of splitting the 10 into 4 and 6 because 4+6=10. You can also remember that's how God split the 10 commandments, 4 on the 1st table and 6 on the 2nd. Since the stone that comes and hits the feet represents Jesus' return to earth while the 10 kingdoms remain split, remember a perfect number 7 representing Jesus coming in the middle of the split feet (4 &amp; 6) to make the number 476 A.D.
You can remember that 476 is not in the B.C. era if you think of A.D. as the acronym for “after divided.”</p>
<p>You can do motions to remember the names of the 4 kingdoms.</p>
<ul>
<li>Point to your mouth and say “babel with head for Babylon.”</li>
<li>Pet your arms and say “pet your medium Persian cat for Medo-Persia.”</li>
<li>Rub belly and say “grease your belly and thighs for Greece.”</li>
<li>Walk around with stiff legs and say “roam around with your legs for Rome.”</li>
</ul>
<p>You can also do hand motions for the names of the 4 kingdoms and their matching metals.</p>
<ul>
<li>Point to mouth and say “babel with head (for a gold crown to go on) for Babylon.”</li>
<li>Pet arms and say “pet your medium Persian cat (wearing a silver collar) for Medo-Persia.”</li>
<li>Rub belly and say “grease your belly (to get a brass tan) for Greece.”</li>
<li>Walk around with stiff legs and say “rome around with your (iron) legs for Rome.”</li>
</ul>
<p>To emphasize the important body parts and metals, the script paper and feather surround them.</p>

{% include picture-page-footer.html %}
