---
layout: default
title: Bible Rich | Daniel 6
image_path: /img/bible-highlights/daniel/chapter-06.png
image_alt: Daniel 6
audio_html: <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/126727517&amp;color=ff6600&amp;auto_play=false&amp;show_artwork=false"></iframe>
next_page: /bible-highlights/daniel/chapter-07.html
prev_page: /bible-highlights/daniel/chapter-05.html
---

<h1 id="daniel-6">Daniel 6</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p>The top of the big 6 is made into an opening in the ground where Daniel was cast into the lions' den. The stone that sealed the den is drawn over the opening. The bottom of the big 6 is made into the den. Daniel is standing in the den, undisturbed by the lions. The moon is drawn in the sky, to remind you that he was
kept in the den all night.</p>
<p>King Darius had signed the decree and it could not be changed after he signed it. This is represented by the top of the little 6 being a feather pen and the bottom of the little 6 being a bottle of ink. To recall that the Medo-Persian kings could not change a signed decree, we have surrounded a relevant quote with the script paper and feather pen. Although Darius changed his mind, he could not change the decree due to the government of his kingdom. Thankfully, God will never change His mind, so we know His law will never change. He has written His law with His own finger.</p>
{% include picture-page-footer.html %}
