---
layout: default
title: Bible Rich | Daniel 1
image_path: /img/bible-highlights/daniel/chapter-01.png
image_alt: Daniel 1
audio_html: <a href="http://yourlisten.com/xonev_tw/daniel-chapter-1" id="yl17058897">Upload Music Files - Share Audio - Daniel Chapter 1</a><script src="http://yourlisten.com/embed.js?17058897" type="text/javascript" async></script>
next_page: /bible-highlights/daniel/chapter-02.html
prev_page: /bible-highlights/daniel/daniel-organization.html
---
<h1 id="daniel-1">Daniel 1</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p>The big 1 is made into Daniel standing there eating a pulse and water diet and his head is getting
wiser. You can remember it was 10 days and 10 times better because the 1’s in the 10’s and
chapter 1 are the same number. So you can remember that the diet of pulse and water made the
four young Hebrew men’s wisdom 10 times better, the script paper and feather pen are put around
this.</p>
<p>“Diet” and “wisdom” both have an “i” in the second place which looks like a number 1. All four of
their Hebrew names have an “i” in them.</p>
<p>On the right of Daniel, you can think Daniel received the Babylonian name, Belteshazzar. A
similar name, Belshazzar (Nebuchadnezzar’s grandson), is in Daniel, Chapter 5. To keep from
getting these names confused, you can think Daniel TRUSTED in God, which starts with a “T.”
So the name with a “T” in it (and even says “tee” in it - Belteshazzar) is for Daniel’s name,
because he “Trusted” in God. Belshazzar is the same name without the “te” in it,
to also help remember Daniel’s Babylonian name was Belteshazzar. On the left of the young
man drawn to represent Daniel, you can think, Daniel and Diet start with a “D” and then think,
Daniel’s “Diet” made his “Belt” fit nicely for the word “Belt” in Belteshazzar, written on the
right of Daniel. So then think, if “Diet” goes with the “Belt,” then “Daniel” goes with
“Belteshazzar.”</p>
<p>For the 3 other young Hebrew names, starting at the bottom left is a young man drawn to
represent Hananiah. Hananiah starts with an “H” and Shadrach has an “h” in the second place of
his Babylonian name, which is one clue you can use. You can think of “Handshake” for his
names, also. “Hand” for Hananiah and “Shake” for “Shadrach.” Then you can also think that he
was going to “shake Dracula’s” hand in Babylon because it was scary to be taken away, for the
“drach” in “Shadrach.” So, the young man drawn to represent Hananiah has his hand out to shake someone’s hand. He is also drawn wearing orange-brown to represent the color of the flesh
of a hand.</p>
<p>Mishael and Meshach both start with “M” and have the sound “Me,” so the middle young man at the
bottom is drawn with his hand pointing to himself to represent “Me.” A “shell” is drawn on the
left of the young man, Mishael, for the last part of his name, “shael.” You can think this is his
Hebrew name because the Hebrews had lived in Israel which is by the Mediterranean Sea that
has shells in it. And then think that they were carried away to Babylon to a “shack” for the
“shach” part of Meshach, which is drawn on the right of the young man. He is also drawn
wearing brown clothing like a shack might be made out of brown wood.</p>
<p>Azariah and Abednego both start with an “A,” so this is the first clue. Azariah sounds like “eyes -
r - eye - a,” so the young man representing Azariah is drawn pointing to his eyes. Blue in Spanish
is “azul,” so you can think of Azariah as blue eye - “Azul eye - a.” He is even drawn wearing
blue and pointing to his blue eyes. You can think, when they were in Israel they
could see the temple of God and readily see the words of scripture.</p>
<p>At the right, Abednego can sound like “TA bed we go,” so Azariah’s other eye is drawn closed,
sleeping on in lack of knowledge. So you can think they were going into a dark land, where the
people’s eyes were closed to God’s truth. Two eyes are drawn larger by his head so you can see
them better with the left one opened and blue and the right one closed, like going to bed,
sleeping.</p>
<p>A hand motion you can do for remembering the 3 Hebrew names, starting from your hand going
up to your eyes, goes like this:</p>
<ol>
  <li>Shake your “hand” like giving someone a handshake for Hananiah.</li>
  <li>Point to yourself for “Me” for Mishael.</li>
  <li>Point to eyes for “eyes - r - eye - a” for Azariah.</li>
</ol>
{% include picture-page-footer.html %}
