---
layout: default
title: Bible Rich | Daniel 9
image_path: /img/bible-highlights/daniel/chapter-09.png
image_alt: Daniel 9
audio_html: <a  href="http://yourlisten.com/xonev_tw/daniel-chapter-9" id="yl17058915">Play Music - Upload Audio - Daniel Chapter 9</a><script src="http://yourlisten.com/embed.js?17058915" type="text/javascript" async></script>
next_page: /bible-highlights/daniel/chapter-10.html
prev_page: /bible-highlights/daniel/greek-generals.html
---

<h1 id="daniel-9">Daniel 9</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p>This chapter gets to the heart of God's sanctuary, which is His lamb, God the Son, Jesus. It is His sacrifice that allows us to enter God's kingdom. This chapter is in the heart of the prophetic chapters (2, 7, 8, 9, 10, 11, 12) of Daniel, as well.</p>
<p>Daniel 9 is split into 2 parts. The first section and majority of the chapter is Daniel's prayer for Jerusalem. The prayer is represented by the drawing of Daniel in prayer at the bottom of the 9. The other section, which is only 4 verses, prophesies the Messiah's coming. This is represented at the top of the big 9, which illustrates what happens in Jerusalem before, during, and after Jesus' coming -- from it being rebuilt to being destroyed again. Since the prophecy centers on Jerusalem, the word "Jerusalem" has been written by the bottom of the big 9.</p>
<p>To remember that chapter 9 is about "Daniel's Prayer and Prophecy of the Messiah," you can think of the "P"s in "Prayer and Prophecy" as backwards "9"s and the "M" in Messiah as two "n"s, to remind you of the word "nine."</p>
<h2 id="the-time-prophecy">The Time Prophecy</h2>
<p>The prophecy of the Messiah states that it will be 70 weeks to bring in Messiah the Prince -- Jesus. To remember this, at the left, a small 9 is drawn with Jesus' face inside the circle at the top, and an arrow pointing toward the 9, to represent bringing Him in. The paper and feather pen surround the words about bringing in the Messiah to remind you that is one of the primary points of this chapter.</p>
<p>There are many sevens in this chapter that can be helpful for memorization. This is recognized by drawing a 7 at the interesection of the circle and the tail of the big 9.</p>
<p>The 70 weeks and 2300 days have the same beginning -- the commandment to restore Jerusalem, which is found in Ezra 7. Both prophecies begin in 457 B.C. The date that the 2300 days began is easy to remember, when you use the following mnemonic. First, count the 23 from 2300 -- "2, 3" -- then continue counting -- "4, 5" -- skip the six, and count one more -- "7" -- to get 457.</p>
<p>The 70 weeks are illustrated in the image at the top of the big 9. The first 69 of the 70 weeks, the city of Jerusalem was being restored (as seen on the left). The 70th week began in 27 A.D. -- this is when Jesus began His ministry. In the midst of the week -- 31 A.D. -- Jesus' was crucified. The end of the week was in 34 A.D. when Stephen was stoned. Jerusalem was destroyed again in 70 A.D.</p>
<p>To remember that Jesus' ministry began in 27 A.D., think of the 7 as Jesus leaning back to be baptized and the 2 representing the other 2 members of the Godhead being present -- the Holy Spirit as a dove and the Father in His voice.</p>
<p>To remember that the midst of the week, and Jesus' crucifixion, occurred in 31 A.D., just think of the "m" and "i" in "midst" as the 31, but with the 3 turned on its side.</p>
<p>To remember that Stephen was stoned in 34 A.D. (which is found in Acts 7), you can see the image of Stephen being stoned on the right of the picture. Also, the sum of 3 and 4 is 7, which is the chapter in Acts which contains the stoning of Stephen, as well as the first digit of 70.</p>
<p>To remember that Jerusalem was destroyed again in 70 A.D., just notice that the 70 weeks and 70 A.D. are the same number.</p>
{% include picture-page-footer.html %}
