---
layout: default
title: Bible Rich | Daniel Organization
image_path: /img/bible-highlights/daniel/daniel-organization.png
image_alt: Daniel Organization
audio_html: <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/126727515&amp;color=ff6600&amp;auto_play=false&amp;show_artwork=false"></iframe>
next_page: /bible-highlights/daniel/chapter-01.html
prev_page: /bible-highlights/daniel/index.html
---
<h1 id="daniel-organization">Daniel Organization</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p>Daniel's chapters generally fall into two separate categories -- prophecies and stories. The first half of the book, chapters 1-6 (at the bottom of the picture), are stories, and the last half of the book, chapters 7-12 (shown at the middle of the picture), are prophecies.  Notice that Daniel chapter 2 is in both the story and the prophecy category.</p>
<p>The chapters of Daniel are not in chronological order. Daniel receives the time prophecies of chapters 7
and 8 before chapters 5 and 6. Chapters 6 (the lion’s den) and 9 (Daniel’s prayer and prophecy of the Messiah) happened the same year.</p>
<p>Daniel’s ages throughout the book are written in the middle of the page. He was very young -- about 20 years old -- when he
received the first prophecy in chapter 2. By the time he received the prophecies in chapters 7 and 8, he was much older -- about 70. He was very old -- about 90 -- when he received the last of the time prophecies in chapters 9 - 12. Highlighted in light purple, an interesting correlation is that the first number of Daniel’s age matches the first chapter of the prophecy age sections. This makes it easy to remember how old Daniel was when he received the prophecies.</p>
<ul>
<li>20 yrs. old - chapter 2</li>
<li>70 yrs. old - chapter 7 - 8</li>
<li>90 yrs. old - chapter 9 - 12</li>
</ul>
{% include picture-page-footer.html %}
