---
layout: default
title: Bible Rich | Daniel Organization
image_path: /img/bible-highlights/daniel/daniel-organization.png
image_alt: Daniel Organization
next_page: /bible-highlights/daniel/chapter-01.html
prev_page: /bible-highlights/daniel/index.html
---
<h1 id="daniel-organization">Daniel Organization</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p>Daniel is organized for the most part in 2 categories - stories and prophecies (to the end of time).
The first half of the book, chapters 1-6, are stories and the last half of the book, chapters 7-12, are
prophecies.</p>
<p>Chapter 2 falls in both the story and the prophecy category.</p>
<p>Notice that the chapters are not in time order. Daniel receives the time prophecies of chapters 7 and
8 before chapters 5 and 6.</p>
<p>Chapters 6 (the lion’s den) and 9 (Daniel’s prayer and prophecy of the Messiah) happened the
same year.</p>
<p>Daniel was very young, about twenty years old when he received the first prophecy in chapter 2 and
very old, about 90, when he received the majority of the time prophecies.</p>
{% include picture-page-footer.html %}
