---
layout: default
title: Bible Rich | Daniel - Greek Generals
image_path: /img/bible-highlights/daniel/greek-generals.png
image_alt: Daniel - Greek Generals
next_page: /bible-highlights/daniel/chapter-09.html
prev_page: /bible-highlights/daniel/chapter-08.html
---

<h1 id="daniel-map-of-greek-generals">Daniel - Map of Greek Generals</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p>This story should help you memorize the four Greek generals, which correspond to the four heads of the Leopard beast in chapter 7 and the 4 horns of Daniel 8.  Since three of the general's names contain the sound "cuz," the story is about a cousin (or "cuz") who joined the army. A map of Greece is drawn with lines showing the four divided land areas of the four generals.</p>
<p>We start from the west.  Cassander ruled the western part of Greece.  The "Cass" in Cassander sounds like "cuz."  Then there is "and" and "er," which sounds like "her." So we have the phrase "Cuz and her" had a wedding and went to war. "Wedding," "went," and "war," all start with "w" to remind you that Cassander ruled in the west.</p>
<p>Next we have the northern general, Lysimachus. The story for this general is, "Cuz dies in war and on his tombstone is written here 'lies him a cuz.'" "Lies him a cuz" sounds like Lysimachus. When someone dies, a common saying is that they are "put on ice." Recall this to remember that Lysimachus ruled in the north.</p>
<p>The next general, Seleucus, ruled in the east.  The story for this general is, "that they 'salute cuz.'" "Salute cuz" sounds like Seleucus. In order to remember that Seleucus ruled in the east, notice that Seleucus has two "e"s and east starts with "e."</p>
<p>The general who ruled in the south was Ptolemy. The story continues, "The wife fell down in her seat with her hand on her forehead and said, 'It took a toll on me.'" 'Toll on me" sounds like Ptolemy. The woman falling "down" can be correlated with "south," since that's the direction south would be on a map.</p>
{% include picture-page-footer.html %}
