---
layout: default
title: Bible Rich | Daniel
image_path: /img/bible-highlights/books/daniel.png
image_alt: Daniel
audio_mp3_path: /audio/bible-highlights/daniel/book-detailed.mp3
audio_wav_path: /audio/bible-highlights/daniel/book-detailed.wav
next_page: /bible-highlights/hosea/
prev_page: /bible-highlights/ezekiel/
---

<h1>Daniel - Feather Pen &amp; Paper</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p class='lead'>“In the first year of Belshazzar king of Babylon Daniel had a dream and visions of his head upon his bed: then he wrote the dream” 7:1</p>
<p>(the paper can be made into a stretched out D for Daniel)</p>
<p>(the left side line of the paper can be made into a 1 and the right side line of the paper can be made into a 2 to remember the 12 chapters in Daniel)</p>
{% include picture-page-footer.html %}
