---
layout: default
title: Bible Rich | Zechariah
image_path: /img/bible-highlights/books/zechariah.png
image_alt: Zechariah
audio_mp3_path: /audio/bible-highlights/zechariah/book-detailed.mp3
audio_wav_path: /audio/bible-highlights/zechariah/book-detailed.wav
next_page: /bible-highlights/malachi/
prev_page: /bible-highlights/haggai/
---
<h1>Zechariah - Heavenly Temple &amp; Streets Of Gold</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p class='lead'>“In the eighth month, in the second year of Darius, came the word of the LORD unto Zechariah, the son of Berechiah” 1:1, “the hands of Zerubbabel have laid the foundation of this house; his hands shall also finish it” 4:9, “Behold the man whose name is The BRANCH . . . he shall build the temple of the LORD“ 6:12, “and the streets of the city shall be full of boys and girls playing in the streets thereof” 8:5, “Rejoice greatly. . . Jerusalem: behold, thy King cometh . . . lowly and riding upon . . . a colt” 9:9, “so they weighed for my price thirty pieces of silver (cast down in temple)” 11:12, “What are these wounds in thine hands? Then he shall answer, Those with which I was wounded in the house of my friends” 13:6</p>
<p>Haggai and Zechariah are the 2 prophets who encouraged Zerubbabel and Joshua to continue rebuilding the temple and city of Jerusalem, they are even mentioned in Ezra 5:1.</p>
<p>Zechariah is full of prophecies of what would happen to Jesus at the earthly temple and in the heavenly city, so a temple set in heaven - colored gold and drawn with a cloud - with a gold street is drawn so you can imagine all these things happening there.</p>
<p>(the left side of the street squares can be made into a Z and an E for Zechariah, and the left line of the cloud can be made into a C for the C in Zechariah, so you can remember this book name has the Zec for Zechariah as opposed to the book Zephaniah with a Zep)</p>
<p>(you can also think of the “c” for “clouds” for the temple that is in the “clouds” as opposed to the earthly temple for Haggai)</p>
<p>(to remember Zechariah has 14 chapters in it the right line of the heavenly temple can be made into a 1 for the 1 in the 14 chapters and the street squares on the right can be made into a 4 for the 4 in the 14 chapters in Zechariah)</p>
<p>(also to remember Zechariah has 14 chapters, if you think there are 2 prophets - 1. Haggai and 2. Zechariah that encourage the 2 leaders - 1. Zerubbabel and 2. Joshua to rebuild the temple and 2 prophets + 2 leaders = 4 men, then Haggai with 2 chapters after that would be Zechariah with a 4 in the number of its chapters)</p>
{% include picture-page-footer.html %}
