---
layout: default
title: Bible Rich | Ezra
image_path: /img/bible-highlights/books/ezra.png
image_alt: Ezra
audio_mp3_path: /audio/bible-highlights/ezra/book-simple.mp3
audio_wav_path: /audio/bible-highlights/ezra/book-simple.wav
---
<h1>Ezra - Hand Holding Envelope</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p>“Now this is the copy of the</p>
<p>letter</p>
<p>that the king Artaxerxes gave unto</p>
<p>Ezra</p>
<p>. . . that all they . . . which are minded of their own free will to go up to Jerusalem, go with thee . . . And thou,</p>
<p>Ezra</p>
<p>, after the wisdom of thy God,</p>
<p>that is in thine hand</p>
<p>, set magistrates and judges, which may judge all the people that are beyond the river, all such as know the laws of thy God; and teach ye they that know them not.” 7:11, 13, 23</p>
<p>Many letters were written in Ezra, especially this one in chapter 7 from Artaxerxes, to restore Jerusalem, marking the beginning of the 2300 days, so an envelope is used with a hand holding it for the highlight of Ezra)</p>
<p>(the left line of the envelope and the top &amp; bottom line of the envelope make the side and top &amp; bottom line on the letter E for Ezra)</p>
<p>(to remember there are 10 chapters in Ezra think of the left side of the envelope for the 1 and the circle of the hand for the 0)</p>
{% include picture-page-footer.html %}
