---
layout: default
title: Bible Rich | Jeremiah
image_path: /img/bible-highlights/books/jeremiah.png
image_alt: Jeremiah
audio_mp3_path: /audio/bible-highlights/jeremiah/book-detailed.mp3
audio_wav_path: /audio/bible-highlights/jeremiah/book-detailed.wav
prev_page: /bible-highlights/isaiah/
next_page: /bible-highlights/lamentations/
---
<h1>Jeremiah - Dungeon Under Building</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p class='lead'>“They took Jeremiah and cast him into the dungeon . . . And in the dungeon there was no water, but mire: so Jeremiah sunk in the mire.” 38:6</p>
<p>(the bottom right side of the dungeon makes a J for Jeremiah)</p>
<p>(the left top and left side lines of the building can make the top and left lines of a 5 for 52 chapters in Jeremiah, and the curve at the bottom of the pit can make the bottom curve line of a 5 in the 52; the right top and right side lines of the building can make a top of a 2 and the line going out for the grass on the right can make the bottom of the 2 in 52 chapter in Jeremiah)</p>
{% include picture-page-footer.html %}
