---
layout: default
title: Bible Rich | Jeremiah
image_path: /img/bible-highlights/books/jeremiah.png
image_alt: Jeremiah
audio_mp3_path: /audio/bible-highlights/jeremiah/book-simple.mp3
audio_wav_path: /audio/bible-highlights/jeremiah/book-simple.wav
---
<h1>Jeremiah - Dungeon Under Building</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p>“They took</p>
<p>Jeremiah</p>
<p>and cast him into the</p>
<p>dungeon</p>
<p>. . . And in the</p>
<p>dungeo</p>
<p>n there was no water, but mire: so</p>
<p>Jeremiah</p>
<p>sunk in the mire.” 38:6</p>
<p>(the bottom right side of the dungeon makes a J for Jeremiah)</p>
<p>(the left top and left side lines of the building can make the top and left lines of a 5 for 52 chapters in Jeremiah, and the curve at the bottom of the pit can make the bottom curve line of a 5 in the 52; the right top and right side lines of the building can make a top of a 2 and the line going out for the grass on the right can make the bottom of the 2 in 52 chapter in Jeremiah)</p>
{% include picture-page-footer.html %}
