---
layout: default
title: Bible Rich | Ezekiel
image_path: /img/bible-highlights/books/ezekiel.png
image_alt: Ezekiel
audio_mp3_path: /audio/bible-highlights/ezekiel/book-simple.mp3
audio_wav_path: /audio/bible-highlights/ezekiel/book-simple.wav
---
<h1>Ezekiel - 2 Wheel Cart</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p> “The word of the LORD came expressly unto</p>
<p>Ezekiel</p>
<p>the priest . . . And I looked . . . and their appearance and their work was as it were a</p>
<p>wheel</p>
<p>in the middle of a</p>
<p>wheel</p>
<p>.” 1:3, 4, 16</p>
<p>(the sides and bottom of the cart can make an E for Ezekiel)</p>
<p>(the sides and bottom of the cart can make a 4 for the 4 in 48 chapter in Ezekiel and the two wheels can be put together to make an 8 for the 8 in 48 chapters in Ezekiel)</p>
{% include picture-page-footer.html %}
