---
layout: default
title: Bible Rich | Ezekiel
image_path: /img/bible-highlights/books/ezekiel.png
image_alt: Ezekiel
audio_mp3_path: /audio/bible-highlights/ezekiel/book-detailed.mp3
audio_wav_path: /audio/bible-highlights/ezekiel/book-detailed.wav
prev_page: /bible-highlights/lamentations/
next_page: /bible-highlights/daniel/
---
<h1>Ezekiel - 2 Wheel Cart</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p class='lead'>“The word of the LORD came expressly unto Ezekiel the priest . . . And I looked . . . and their appearance and their work was as it were a wheel in the middle of a wheel.” 1:3, 4, 16</p>
<p>(the sides and bottom of the cart can make an E for Ezekiel)</p>
<p>(the sides and bottom of the cart can make a 4 for the 4 in 48 chapter in Ezekiel and the two wheels can be put together to make an 8 for the 8 in 48 chapters in Ezekiel)</p>
{% include picture-page-footer.html %}
