<!DOCTYPE html>
 <html lang='en'>
  <head>
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/css/base.css" rel="stylesheet">
    <link href="/css/home.css" rel="stylesheet">
    <link href="/css/flashcards.css" rel="stylesheet">
    <script type="text/javascript" src="/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/jquery-ui-1.10.2.custom.min.js"></script>
    <script type="text/javascript" src="/js/jquery.flip.min.js"></script>
    <script type="text/javascript" src="/js/json2.js"></script>
    <script type="text/javascript" src="/js/underscore-1.4.4.min.js"></script>
    <script type="text/javascript" src="/js/backbone-1.0.0.min.js"></script>
  </head>
  <body>
    {% include navigation.html %}
    <div class='span9 offset2'>
       {{ content }}
     </div>
  </body>
</html>

