---
layout: default
title: Bible Rich | Amos
image_path: /img/bible-highlights/books/amos.png
image_alt: Amos
audio_mp3_path: /audio/bible-highlights/amos/book-simple.mp3
audio_wav_path: /audio/bible-highlights/amos/book-simple.wav
next_page: /bible-highlights/obadiah/
prev_page: /bible-highlights/joel/
---
<h1>Amos - Plate Of Bread &amp; Glass Of Water</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p class='lead'>“The words of Amos . . . which he saw concerning Israel” 1:1, “Behold, the days come, saith the Lord God, that I will send a famine in the land, not a famine of bread, nor a thirst for water, but of hearing the words of the LORD” 8:11</p>
<p>(the circle of the plate and the left side line of the glass can be made into a cursive A for Amos)</p>
<p>(to help you remember there are 9 chapter in Amos, the circle of the plate and the left side line of the glass can be made into a 9)</p>
<p>(Amos is the 3rd book of the O’s and has the circle O’s of the plate and bottom of the glass)</p>
{% include picture-page-footer.html %}
