---
layout: default
title: Bible Rich | Habakkuk
image_path: /img/bible-highlights/books/habakkuk.png
image_alt: Habakkuk
audio_mp3_path: /audio/bible-highlights/habakkuk/book-simple.mp3
audio_wav_path: /audio/bible-highlights/habakkuk/book-simple.wav
---
<h1>Habakkuk - Marching Babylon Soldier</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p>“The burden which</p>
<p>Habakkuk</p>
<p>the prophet did see . . . I raise up the</p>
<p>Chaldeans (Babylon)</p>
<p>. . . which shall</p>
<p>march</p>
<p>through the breadth of the land, to possess” 1:1, 6</p>
<p>(since Babylon is given the head of gold on the image in Daniel 2, this marching Babylon soldier is dressed in gold color to remember he is from Babylon in the shape of an H for Habakkuk)</p>
<p>(to remember there are 3 chapters in Habakkuk think of the soldier’s 2 legs marching and his 1 arm holding out his sword - 3 things going out as actions of his body for 3 chapters in Habakkuk)</p>
<p>(there are also 3 “k’s” in Habakkuk for the 3 chapters in Habakkuk)</p>
{% include picture-page-footer.html %}
