---
layout: default
title: Bible Rich | Galatians
image_path: /img/bible-highlights/books/galatians.png
image_alt: Galatians
audio_mp3_path: /audio/bible-highlights/galatians/book-simple.mp3
audio_wav_path: /audio/bible-highlights/galatians/book-simple.wav
next_page: /bible-highlights/ephesians/
prev_page: /bible-highlights/2-corinthians/
---
<h1>Galatians - 2 Swords, 2 Shields &amp; Land</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p class='lead'>“Unto the churches of Galatia . . . If any man preach any other gospel unto you than that ye have received, let him be accursed . . .  how that beyond measure I persecuted the church of God and wasted it” 1:2, 8, 13, “when Peter was come to Antioch, I withstood him to the face, because he was to be blamed . . . I am crucified with Christ, nevertheless I live” 2:11, 20, “O foolish Galatians, who hath bewitched you . . . Cursed is every one that hangeth on a tree” 3:1, 13, “ye would have plucked out your own eyes, and have given them to me” 4:15, “the works of the flesh are . . . witchcraft, hatred, variance, emulations, wrath, strife” 5:19&amp;20</p>
<p>The encyclopedia says the Galatians were always warlike and since Galatians sounds like gladiators (fighters), 2 sword with 2 shields are used for the highlight of Galatians.</p>
<p>Paul wrote the Galatians in response to opponents trying to convince them they had to be circumcised to be saved.</p>
<p>Also the 2 shields look like a bewitching pair of eyes to help remember the familiar verses about bewitched, witchcraft, &amp; plucked out eyes.</p>
<p>Galatians is the book that people deduct Paul’s “thorn in the flesh” from 2 Corinthians 12 was poor eye sight, from the plucked out eyes they wanted to give Paul in Galatians chapter 4 and “how large a letter I have written unto you” in Galatians chapter 6, so the 2 shields as eyes is helpful.</p>
<p>Galatians is the 4th of the 9 books written by Paul to a group of people in a place, Galatia, with the book so named, so land is drawn under the swords.</p>
<p>(the left side of the sword and shield can be made into a G for Galatians, the circles can be made into the “a’s” in Galatians, the top of the two swords can be made into the “l” and the “t” in Galatians)</p>
<p>(to remember there are 6 chapters in Galatians the left side of the sword and shield can be made into a 6 for 6 chapters in Galatians)</p>
{% include picture-page-footer.html %}
