---
layout: default
title: Bible Rich | Joshua
image_path: /img/bible-highlights/books/josh.png
image_alt: Joshua
audio_mp3_path: /audio/bible-highlights/joshua/book-detailed.mp3
audio_wav_path: /audio/bible-highlights/joshua/book-detailed.wav
next_page: /bible-highlights/judges/
prev_page: /bible-highlights/deuteronomy/
---
<h1>Joshua - Fallen Wall  With Scarlet Thread</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p class='lead'>“Joshua said unto the people, Shout; for the LORD hast given you the city. . . So . . . the people shouted with a great shout, that the wall fell down flat” 6:16, 20</p>
<p>Chapter 6 is where the wall falls down flat, so the wall is drawn flat to make the bottom of a 6 and the scarlet thread that saved Rahab is drawn to make the top of the 6.</p>
<p>(the scarlet thread is made into a J for Joshua)</p>
<p>(the scarlet thread can look like a 2 for the 2 in the 24 chapters of Joshua and the outside walls as the two side lines of a 4 in 24 chapters)</p>
{% include picture-page-footer.html %}
