---
layout: default
title: Bible Rich | 2 Corinthians
image_path: /img/bible-highlights/books/2-corinthians.png
image_alt: 2 Corinthians
audio_mp3_path: /audio/bible-highlights/2-corinthians/book-detailed.mp3
audio_wav_path: /audio/bible-highlights/2-corinthians/book-detailed.wav
next_page: /bible-highlights/galatians/
prev_page: /bible-highlights/1-corinthians/
---
<h1>2 Corinthians - 2 Palm Trees On Peninsula</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p class='lead'>“Eye hath not seen, nor ear heard, neither have entered into the heart of man, the things which God hath prepared for them that love him. . . 1 Corinthians 2:9 “Unto the church of God which is at Corinth” 1:1, “For God who commanded the light to shine out of darkness, hath shined in our hearts, to give the light of the knowledge of the glory of God in the face of Jesus Christ. . . For our light affliction, which is but for a moment, worketh for us a far more exceeding and eternal weight of glory” 4:6, 17, “Be ye not unequally yoked. . . what communion hath light with darkness?” 6:14, “for Satan himself is transformed into an angel of light. ” 11:14, “How that he was caught up into paradise, and heard unspeakable words” 12:4</p>
<p>(like above) Since Paul was caught up into paradise, a paradise scene of a tropical island with palm trees and the ocean is used for the highlight of 1 &amp; 2 Corinthians.</p>
<p>(like above) The city of Corinth is on a peninsula, almost an island, in the Mediterranean Sea. (like above) Palm trees can be associated with islands and seas, so these are also used to represent 1 &amp; 2 Corinthians.</p>
<p>(like above) Corinth is actually located at about the bottom of the right palm tree. You can think of the right palm tree as pointing to Corinth.</p>
<p>Since this is the second letter written to the Corinthian, you can think of the 2nd palm tree on the left pointing to the spread of the gospel hopefully to the other areas of the peninsula, so the letter would go to them also, which would also give them more light, Biblically speaking, so you can think of the sun in 2 Corinthians.</p>
<p>A sun is drawn in 2 Corinthians because we think of it as being sunny in paradise and because there are 4 familiar verses in 2 Corinthians which mention light, shine, and/or glory.</p>
<p>2 Corinthians is the 3rd of the 9 books written by Paul to a group of people in a place, Corinth, with the book so named, so land is drawn.</p>
<p>(like above - the curved of the land line on the left can be made into a C for Corinthians)</p>
<p>(to remember there is 13 chapters in 2 Corinthians the tree on the left can be made into a 1 for the 1 in 13 chapters and a 3 can be made arching over the tops of the palms tree for the 3 in 13 chapters in 2 Corinthians)</p>
{% include picture-page-footer.html %}
