---
layout: default
title: Bible Rich | Hosea
image_path: /img/bible-highlights/books/hosea.png
image_alt: Hosea
audio_mp3_path: /audio/bible-highlights/hosea/book-simple.mp3
audio_wav_path: /audio/bible-highlights/hosea/book-simple.wav
next_page: /bible-highlights/joel/
prev_page: /bible-highlights/daniel/
---
<h1>Hosea - Whore Gomer</h1>

{% include picture-page-header.html %}
{% include media.html %}
<p class='lead'>“And the Lord said to Hosea, Go, take unto thee a wife of whoredoms and children of whoredoms: for the land hath committed great whoredom, departing from the LORD.” 1:2</p>
<p>(the two side lines of the lady, Gomer, and the line across her waist can be made into an H for Hosea)</p>
<p>(to remember there are 14 chapters in Hosea the 1 can be made with Gomer’s arm going up, and the two side lines of Gomer with the line across her waist can be made into a 4 for the 14 chapters in Hosea)</p>
<p>(Hosea starts the 1st of the 5 books together that have O’s in them, each of these book picture highlights have O’s - circles, in them or their shape is pretty much a circle, O; Hosea has Gomer, even her name has an O in it, with the circle, O’s of earrings, necklace, bracelets, &amp; roller skates, and she can easily be put in a circle to make it look like she is on a circular roller skating ramp and jumping a jump rope,which makes a circle)</p>
{% include picture-page-footer.html %}
